<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.AnnounceDao">

  <resultMap type="announce" id="announceMap">
    <id column="anunc_id" property="no" />
    <result column="mbr_id" property="memberNo" />
    <result column="titl" property="title" />
    <result column="cont" property="contents" />
    <result column="vw_cnt" property="viewCount" />
    <result column="cdt" property="createdDate" />
    <result column="mdt" property="modifierDate" />

    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="name" property="name" />
      <result column="user_id" property="id" />
      <result column="tel" property="tel" />
      <result column="email" property="email" />
    </association>

  </resultMap>
  
  <sql id="select1">
    select
    anunc_id,
    m.name,
    m.user_id,
    m.tel,
    m.email,
    cont,
    titl,
    a.cdt,
    mdt,
    vw_cnt
    from
    anunc a
    left outer join mbr m on m.mbr_id = a.mbr_id
  </sql>



  <select id="findAll" resultMap="announceMap">
    <include refid="select1" />
    <where>
      <if test="memberNo != null">a.mbr_id = #{memberNo}</if>
    </where>
    order by
    anunc_id desc
  </select>
  
   <select id="findByNo" resultMap="announceMap" parameterType="int">
    <include refid="select1"/>
    where 
      anunc_id = #{value}
  </select> 
  
  <update id="increaseCount" parameterType="int">
    update anunc
    set
      vw_cnt = vw_cnt + 1 
      where anunc_id = #{value};
  </update>
  
    <insert id="insert" parameterType="announce"
          useGeneratedKeys="true" keyColumn="anunc_id" keyProperty="no">
    insert into anunc(
      titl,
      cont,
      mbr_id) 
    values(
      #{title}, 
      #{contents},
      #{memberNo})
  </insert>
  
  <update id="update" parameterType="announce">
  update anunc
    set
    titl = #{title},
    cont = #{contents}
    where anunc_id = #{no}
  </update>

  <delete id="delete" parameterType="int">
    delete from anunc
    where anunc_id = #{no}
  </delete>
  
  
  <select id="countAll" resultType="int">
    select count(*) from anunc;
  </select>
</mapper>










