<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.eomcs.lms.dao.AnnounceFileDao">
  
  <resultMap type="announceFile" id="announceFileMap">
    <id column="anunc_file_id"  property="no"/>
    <result column="anunc_id"   property="announceNo"/>
    <result column="file_path"  property="filePath"/>
  </resultMap>
  
  <select id="findByAnnounceNo" resultMap="announceFileMap" parameterType="int">
    select 
      anunc_file_id, 
      anunc_id, 
      file_path
    from 
      anunc_file
    where 
      anunc_id = #{value}
    order by 
      anunc_file_id asc
  </select>
  
  <insert id="insert" parameterType="list">
    insert into anunc_file(
      file_path,
      anunc_id) 
    values
    
    <foreach collection="list" item="announceFile" separator=",">
      (#{announceFile.filePath},#{announceFile.announceNo})
    </foreach>
    
  </insert>
  
  <delete id="deleteByAnnounceNo" parameterType="int">
    delete from anunc_file 
    where anunc_id = #{value}
  </delete>
  
  
  <update id="update" parameterType="list">
    update anunc_file
    set
    <foreach collection="list" item="announceFile" separator=",">
      (#{announceFile.filePath},#{announceFile.announceNo})
    </foreach>
    where 
    anunc_id = #{value}
  </update>
  
  
</mapper>










