<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.BoardDao">

  <resultMap type="board" id="boardMap">
    <id column="post_id" property="no" />
    <result column="mbr_id" property="memberNo" />
    <result column="boardtype_id" property="boardType" />
    <result column="titl" property="title" />
    <result column="cont" property="contents" />
    <result column="vw_cnt" property="viewCount" />
    <result column="cdt" property="createdDate" />
    <result column="mdt" property="modifierDate" />
    <result column="stat" property="Status" />
    <result column="del_res" property="deleteReason" />
    <result column="tpost_id" property="topPostNo" />

    <association property="member" javaType="member">
      <id column="mbr_id" property="memberNo" />
      <result column="name" property="name" />
    </association>

    <collection property="tag" ofType="tag">
      <id column="tag_id" property="no" />
      <result column="post_id" property="postNo" />
      <result column="tag_name" property="tagName" />
    </collection>

    <collection property="files" ofType="attachedFile">
      <id column="atch_file_id" property="no" />
      <result column="post_id" property="postNo" />
      <result column="phot" property="filePath" />
      <result column="video" property="fileType" />
    </collection>

  </resultMap>
  
  <sql id="select1">
    select
    post_id,
    m.name,
    titl,
    p.cdt,
    vw_cnt
    from
    post p
    left outer join mbr m on p.mbr_id =
    m.mbr_id
  </sql>



  <select id="findAll" resultMap="boardMap" parameterType="map">
    <include refid="select1" />
    <where>
      <if test="memberNo != null">p.mbr_id = #{memberNo}</if>
    </where>
    order by
    post_id desc
    <if test="#{size != null || rowNo != null}">
      limit #{rowNo}, #{size}
    </if>
  </select>
  
  <select id="findByNo" resultMap="boardMap" parameterType="int">
    select
    post_id,
    titl,
    cont,
    mdt,
    vw_cnt,
    m.name,
    tag_name,
    post_id
    
    from
    post p
    left outer join mbr m on p.mbr_id = m.mbr_id

    where
    post_id = ${value};

  </select>

  <update id="increaseCount" parameterType="int">
    update post
    set
    vw_cnt = vw_cnt + 1
    where post_id =
    #{value}
  </update>

  <insert id="insert" parameterType="board">
    insert into post(cont)
    values(#{contents})
  </insert>

  <update id="update" parameterType="board">
    update post
    set
    cont = #{contents}
    where post_id = #{no}
  </update>

  <delete id="delete" parameterType="int">
    delete from post
    where post_id = #{no}
  </delete>

  <select id="countAll" resultType="int">
    select count(*) from post
  </select>
</mapper>










