<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.eomcs.lms.dao.LocationDao">
  
  <resultMap type="topLocation" id="topLocationMap">
    <id column="toplc_id"  property="topLocationId"/>
    <result column="toplc_no"   property="topLocationNo"/>
    <result column="toplc_name"  property="topLocationName"/>
  
    <collection property="middleLocation" ofType="MiddleLocation">
      <id column="toplc_id" property="topLocationId" />
      <result column="midlc_id" property="middleLocationId" />
      <result column="midlc_no" property="middleLocationNo" />
      <result column="midlc_name" property="middleLocationName" />
    </collection>
    
  </resultMap> 
  
  
   <resultMap type="middleLocation" id="middleLocationMap">
      <id column="toplc_id" property="topLocationId" />
      <result column="midlc_id" property="middleLocationId" />
      <result column="midlc_no" property="middleLocationNo" />
      <result column="midlc_name" property="middleLocationName" />
    </resultMap>
  
  
  
  <select id="findTopLocation" resultMap="topLocationMap" parameterType="int">
    select
      t.toplc_name,
      m.midlc_name
    from
      toplc t
      left outer join midlc m on t.toplc_id = m.toplc_id
    where
      t.toplc_no = #{value}
  </select>
  
  <select id="topLocationList" resultMap="topLocationMap">
    select
    toplc_id,
    toplc_no,
    toplc_name
    from 
    toplc
  </select>
  
   <select id="findMiddleLocation" resultMap="middleLocationMap" parameterType="int"> 
    select
    midlc_id,
    midlc_no,
    midlc_name,
    m.toplc_id
    from
    midlc m
    left outer join toplc t on m.toplc_id = t.toplc_id  
    where t.toplc_id = #{no}
  </select>

  <select id="TopLocationName" resultType="java.lang.String" parameterType="int">
    select
      toplc_name
    from
      toplc
    where
      toplc_no = #{value}
  </select>
  
  <select id="MiddleLocationName" resultType="java.lang.String" parameterType="int">
    select
       midlc_name
    from
       midlc
    where
       midlc_id = #{value}
  </select>

</mapper>










