<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.eomcs.lms.dao.LocationDao">
  
  <resultMap type="topLocation" id="topLocationMap">
    <id column="toplc_id"  property="topLocationId"/>
    <result column="toplc_no"   property="topLocationNo"/>
    <result column="name"  property="topLocationName"/>
  
    <collection property="middleLocation" ofType="MiddleLocation">
      <id column="toplc_id" property="topLocationId" />
      <result column="midlc_id" property="middleLocationId" />
      <result column="midlc_no" property="middleLocationNo" />
      <result column="name" property="middleLocationName" />
    </collection>
    
      <collection property="bottomLocation" ofType="BottomLocation">
        <id column="midlc_id" property="middleLocationId" />
        <result column="btmlc_id" property="bottomLocationId" />
        <result column="btmlc_no" property="bottomLocationNo" />
        <result column="name" property="bottomLocationName" />
      </collection> 
  </resultMap>
  
  
  <select id="findLocation" resultMap="topLocationMap" parameterType="int">
    select
      t.name,
      m.name,
      b.name
    from
      toplc t
      left outer join midlc m on t.toplc_id = m.toplc_id
      left outer join btmlc b on m.midlc_id = b.midlc_id
    where
      t.toplc_no = #{value}
  </select>
  
  
</mapper>










