<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.MatchDao">

  <resultMap type="match" id="matchMap">
    <id column="mtch_id" property="no" />
    <result column="tm_id" property="teamNo" />
    <result column="tm_id2" property="otherTeamNo" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="titl" property="title" />
    <result column="cont" property="contents" />
    <result column="vw_cnt" property="viewCount" />
    <result column="cdt" property="createdDate" />
    <result column="game_dt" property="playDate" />
    <result column="area" property="location" />
    <result column="stdm_psti" property="stadiumName" />
    <result column="stdm_lat" property="stadiumLatitude" />
    <result column="stdm_long" property="stadiumLongitude" />
    <result column="tel" property="telephone" />
    <result column="cost" property="cost" />

    
    <association property="team" javaType="Team">
      <id column="tm_id" property="teamId" />
      <result column="name" property="teamName" />
      <result column="tm_ambl_phot" property="teamEmblemPhoto"/>
      <result column="area" property="teamArea" />
    </association>
    
        <!-- 종목유형 테이블 -->
    <association property="teamTypeSports" javaType="TeamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
      <result column="spt_clsf_name" property="teamSportsType" />
    </association>

    <!-- 매치신청테이블 -->
   <association property="matchApply" javaType="MatchApply">
      <id column="tm_id" property="teamNo" />
      <result column="aply_stat" property="applyStatus" />
      <result column="aply_dt" property="applyDate" />
    </association>

    <!-- 태그테이블  -->
    <collection property="tags" ofType="Tag">
      <id column="mtch_id"  property="matchNo"/>
      <result column="tag_name"  property="tagName"/>
    </collection>

  </resultMap>


   <resultMap type="Team" id="team">
     
      <id column="tm_id" property="teamId" />
      <result column="area" property="teamArea" />   
      <result column="name" property="teamName" />
      <result column="tm_ambl_phot" property="teamEmblemPhoto" />

	<!-- 종목테이블 -->
    <association property="teamTypeSports" javaType="TeamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
      <result column="spt_clsf_name" property="teamSportsType" />
    </association>
	
	<!-- 팀원테이블 -->
    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMember_id" />
    </association>

	<!-- 회원테이블 -->
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
    </association>

    <!-- 매치신청 테이블 -->
    <association property="matchApply" javaType="MatchApply">
      <id column="tm_id" property="teamNo" />
      <result column="aply_stat" property="applyStatus" />
      <result column="aply_dt" property="applyDate" />
    </association>

  </resultMap>


<!-- 매치보드에 더 포함될것들 -->
<!-- 팀테이블D, 팀원테이블, 회원테이블?, 종목유형테이블D, 매치신청테이블D, 태그테이블D, 후기테이블, 첨부파일테이블X 위치정보테이블(위치이름) -->

<sql id="select1">
   select
    mtch_id,
    m.tm_id,
    tm_id2,
    s.spt_clsf_name,
    titl,
    cont,
    vw_cnt,
    m.cdt,
    game_dt,
    m.area,
    stdm_psti,
    stdm_lat,
    stdm_long,
    tel,
    cost,
    t.name,
    t.tm_ambl_phot
   from
    mtch m
    left outer join tm t on m.tm_id = t.tm_id
    left outer join spt_clsf s on m.spt_clsf_id = s.spt_clsf_id
  </sql>
  
<sql id="select2"> <!-- apply를 위한 select -->
  select
    m.mtch_id,
    t.tm_id,
    m.tm_id2,
    t.name,
    t.tm_ambl_phot,
    aply_stat,
    aply_dt
  from
    mtch m
    left outer join tm t on m.tm_id = t.tm_id
    left outer join mtchaply a on m.tm_id=a.tm_id
</sql>
  <!-- 
       tm t
       left outer join mtchaply a on t.tm_id = a.tm_id
   -->
  
  <select id="findAll" resultMap="matchMap" parameterType="map">
	<include refid="select1"/>
    order by
    mtch_id desc
    <if test="#{size != null || rowNo != null}">
      limit #{rowNo}, #{size}
    </if>
  </select>


<select id="findByNo" resultMap="matchMap" parameterType="int">
    <include refid="select1"/>
    where 
      mtch_id = #{value}
  </select> 


<!--  삭제가 안된다면 db 설계를 바꿔야함. matchtb_revise 참조-->
  <delete id="delete" parameterType="int">
    delete from mtch
    where mtch_id = #{no}
  </delete>

  <update id="update" parameterType="match">
  update mtch
    set
    titl = #{title},
    cont = #{contents}
    where mtch_id = #{no}
  </update>

<select id="increaseCount" parameterType="int">
	 update mtch
    set
      vw_cnt = vw_cnt + 1 
      where mtch_id = #{value};
</select>

<select id="countAll" resultType="int">
	select count(*) from mtch;
</select>

</mapper>