<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.MatchDao">

  <resultMap type="match" id="matchMap">
    <id column="mtch_id" property="no" />
    <result column="tm_id" property="teamNo" />
    <result column="tm_id2" property="otherTeamNo" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="titl" property="title" />
    <result column="cont" property="contents" />
    <result column="vw_cnt" property="viewCount" />
    <result column="cdt" property="createdDate" />
    <result column="game_dt" property="playDate" />
    <result column="area" property="location" />
    <result column="stdm_psti" property="stadiumName" />
    <result column="stdm_lat" property="stadiumLatitude" />
    <result column="stdm_long" property="stadiumLongitude" />
    <result column="tel" property="telephone" />
    <result column="cost" property="cost" />

        <!-- 종목유형 테이블 -->
    <association property="teamTypeSports" javaType="TeamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
      <result column="spt_clsf_name" property="teamSportsType" />
    </association>
    
    <association property="team" javaType="Team">
      <id column="tm_id" property="teamId" />
      <result column="name" property="teamName" />
      <result column="age_id" property="teamAgeId" />
      <result column="tm_lev_id" property="teamLevelId" />
      <result column="tm_ambl_phot" property="teamEmblemPhoto"/>
      <result column="area" property="teamArea" />
    </association>
    
    
    <!-- 팀실력테이블 -->
   <association property="teamLevel" javaType="TeamLevel">
      <id column="tm_lev_id" property="teamLevelId" />
      <result column="levs" property="teamLevel" />
    </association>
    
    <association property="teamAges" javaType="TeamAges">
      <id column="age_id" property="teamAgeId" />
      <result column="ages" property="teamAges" />
    </association>

      <!-- 팀원테이블 -->
    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMember_id" />
      <id column="tlead_wth" property="teamLeader" />
    </association>
    
      <!-- 회원테이블 -->
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
    </association>
    
     <!-- 주소 상위 테이블 -->
    <association property="topLocation" javaType="TopLocation">
      <id column="toplc_id" property="topLocationId" />
      <result column="toplc_no" property="topLocationNo" />
      <result column="toplc_name" property="topLocationName" />
    </association>
    
      <!-- 주소 하위 테이블 -->
    <association property="middleLocation" javaType="MiddleLocation">
      <id column="midlc_id" property="middleLocationId" />
      <result column="midlc_no" property="middleLocationNo" />
      <result column="midlc_name" property="middleLocationName" />
      <result column="toplc_id" property="topLocationId" />
    </association>
    
    <!-- 매치신청테이블 -->
   <collection property="matchApply" ofType="MatchApply">
      <id column="mtch_id" property="matchNo" />
      <result column="tm_id" property="teamNo" />
      <result column="aply_stat" property="applyStatus" />
      <result column="aply_dt" property="applyDate" />
    </collection>
    
    
    <!-- 태그테이블  -->
    <collection property="tags" ofType="Tag">
      <id column="mtch_id"  property="matchNo"/>
      <result column="tag_name"  property="tagName"/>
    </collection>
    
 </resultMap>



   <resultMap type="Team" id="team">
     
      <id column="tm_id" property="teamId" />
      <result column="area" property="teamArea" />   
      <result column="name" property="teamName" />
      <result column="age_id" property="teamAgeId" />
      <result column="tm_ambl_phot" property="teamEmblemPhoto" />
      <result column="spt_clsf_id" property="teamSportsId" />
      <result column="tm_lev_id" property="teamLevelId" />

	<!-- 종목테이블 -->
    <association property="teamTypeSports" javaType="TeamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
      <result column="spt_clsf_name" property="teamSportsType" />
    </association>
	
	<!-- 팀원테이블 -->
    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMember_id" />
      <id column="tlead_wth" property="teamLeader" />
    </association>

	<!-- 회원테이블 -->
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
    </association>

    <!-- 매치신청 테이블 -->
    <association property="matchApply" javaType="MatchApply">
      <id column="tm_id" property="teamNo" />
      <result column="aply_stat" property="applyStatus" />
      <result column="aply_dt" property="applyDate" />
    </association>

    <!-- 팀실력테이블 -->
   <association property="teamLevel" javaType="TeamLevel">
      <id column="tm_lev_id" property="teamLevelId" />
      <result column="levs" property="teamLevel" />
    </association>

    <!-- 팀나이 -->
   <association property="teamAges" javaType="TeamAges">
      <id column="age_id" property="teamAgeId" />
      <result column="ages" property="teamAges" />
    </association>

 </resultMap>


   <resultMap type="Member" id="member">
     
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />

  <!-- 팀테이블 -->
    <association property="team" javaType="Team">
      <id column="tm_id" property="teamId" />
      <result column="name" property="teamName" />
      <result column="area" property="teamArea" />
      <result column="spt_clsf_id" property="teamSportsId" />
    </association>

  <!-- 팀원테이블 -->
    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMember_id" />
      <result column="tlead_wth" property="team_leader" />
    </association>

  <!-- 회원테이블 -->
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
    </association>

  <!-- 종목테이블 -->
    <association property="teamTypeSports" javaType="TeamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
      <result column="spt_clsf_name" property="teamSportsType" />
    </association>

 </resultMap>


<!-- 매치보드에 더 포함될것들 -->
<!-- 팀테이블D, 팀원테이블, 회원테이블?, 종목유형테이블D, 매치신청테이블D, 태그테이블D, 후기테이블, 첨부파일테이블X 위치정보테이블(위치이름) -->

<sql id="select1"> <!-- 매치정보를 위한 select -->
   select distinct
    mtch_id,
    m.tm_id,
    tm_id2,
    s.spt_clsf_id,
    s.spt_clsf_name,
    titl,
    cont,
    vw_cnt,
    m.cdt,
    game_dt,
    m.area,
    stdm_psti,
    stdm_lat,
    stdm_long,
    m.tel,
    cost,
    t.name,
    t.tm_lev_id,
    t.age_id,
    t.tm_ambl_phot,
    u.user_id,
    l.levs,
    p.toplc_name,
    d.midlc_name,
    a.ages,
    tmb.tlead_wth
   from
    mtch m
    left outer join tm t on m.tm_id = t.tm_id
    left outer join tm_mbr tmb on t.tm_id = tmb.tm_mbr_id
    left outer join mbr u on tmb.mbr_id = u.mbr_id
    left outer join tm_lev l on t.tm_lev_id = l.tm_lev_id
    left outer join spt_clsf s on m.spt_clsf_id = s.spt_clsf_id
    left outer join spt_clsf on s.spt_clsf_id = t.spt_clsf_id
    left outer join age a on t.age_id = a.age_id
    left outer join toplc p on p.toplc_no = substr(m.area,1,2)
    left outer join midlc d on d.midlc_id = substr(m.area,3,2)
  </sql>
  
  <sql id="select123"> <!-- 매치정보를 위한 select2 -->
   select distinct
    m.mtch_id,
    m.tm_id,
    tm_id2,
    s.spt_clsf_id,
    s.spt_clsf_name,
    titl,
    cont,
    vw_cnt,
    m.cdt,
    game_dt,
    m.area,
    stdm_psti,
    stdm_lat,
    stdm_long,
    m.tel,
    cost,
    t.name,
    t.tm_lev_id,
    t.age_id,
    t.tm_ambl_phot,
    u.user_id,
    l.levs,
    p.toplc_name,
    d.midlc_name,
    a.ages,
    tmb.tlead_wth,
    aply_stat
   from
    mtch m
    left outer join tm t on m.tm_id = t.tm_id
    left outer join tm_mbr tmb on t.tm_id = tmb.tm_mbr_id
    left outer join mtchaply apy on apy.mtch_id = m.mtch_id
    left outer join mbr u on tmb.mbr_id = u.mbr_id
    left outer join tm_lev l on t.tm_lev_id = l.tm_lev_id
    left outer join spt_clsf s on m.spt_clsf_id = s.spt_clsf_id
    left outer join spt_clsf on s.spt_clsf_id = t.spt_clsf_id
    left outer join age a on t.age_id = a.age_id
    left outer join toplc p on p.toplc_no = substr(m.area,1,2)
    left outer join midlc d on d.midlc_id = substr(m.area,3,2)
   where
    tmb.tlead_wth = 1 AND
    game_dt >= CURDATE()
  </sql>
  
<sql id="select2"> <!-- 추천매칭을 위한 select -->
   select distinct
    mtch_id,
    m.tm_id,
    m.titl,
    s.spt_clsf_name,
    game_dt,
    m.area,
    t.name,
    t.tm_lev_id,
    t.age_id,
    t.tm_ambl_phot,
    l.levs,
    a.ages,
    m.area,
    p.toplc_name,
    d.midlc_name
   from
    mtch m
    left outer join tm t on m.tm_id = t.tm_id
    left outer join tm_lev l on t.tm_lev_id = l.tm_lev_id
    left outer join spt_clAND tm_id2 is nullsf s on m.spt_clsf_id = s.spt_clsf_id
    left outer join spt_clsf on s.spt_clsf_id = t.spt_clsf_id
    left outer join age a on t.age_id = a.age_id
    left outer join toplc p on p.toplc_no = substr(m.area,1,2)
    left outer join midlc d on d.midlc_id = substr(m.area,3,2)
  </sql>


<!-- js로 처리할거라 모든 데이터 가져옴 -->
   <select id="search" resultMap="matchMap">
   <include refid="select123"/>
   AND tm_id2 is null
    order by
    mtch_id desc
   </select>
   
  <select id="findAll" resultMap="matchMap" parameterType="map">
	<include refid="select123"/>  
    order by
    mtch_id desc
    <if test="#{size != null || rowNo != null}">
      limit #{rowNo}, #{size}
    </if>
  </select>
  
     <!-- 추천매칭을 처리하기 위해 종목이 일치하고 1달이내인 매치정보를 가져옴 -->
   <select id="searchBySportsType" resultMap="matchMap" parameterType="int">
      <include refid="select2"/>
      where
        m.spt_clsf_id = #{value}
        and
        m.tm_id2 IS NULL
        and
        TIMESTAMPDIFF(DAY, NOW(), game_dt) <![CDATA[<=]]> 30
        and
        TIMESTAMPDIFF(DAY, NOW(), game_dt) <![CDATA[>=]]> 0
        and
        p.toplc_id = d.toplc_id
      order by
        mtch_id desc
   </select>

    <!-- 부족한 매칭정보를 가져옴 -->
   <select id="searchBySportsTypeAll" resultMap="matchMap" parameterType="map">
      <include refid="select2"/>
      where
        m.spt_clsf_id = #{mainTeamSportsTypeNo}
        and
        m.tm_id2 IS NULL
        and
        TIMESTAMPDIFF(DAY, NOW(), game_dt) <![CDATA[>=]]> 0
        and
        p.toplc_id = d.toplc_id
      order by
        mtch_id desc
   </select>
  


  <select id="teamInfoGet" resultMap="matchMap" parameterType="int"> <!-- 리더 정보를 갖고오기 위함 -->
    Select 
      s.name,
      s.tm_id,
      s.area,
      t.tlead_wth,
      p.spt_clsf_name
    from
      mbr m
      left outer join tm_mbr t on m.mbr_id = t.mbr_id
      left outer join tm s on t.tm_mbr_id = s.tm_id
      left outer join spt_clsf p on s.spt_clsf_id = p.spt_clsf_id
    where 
      m.mbr_id = #{value};
  </select>

  <select id="leaderJudge" resultMap="matchMap" parameterType="int"> <!-- 회원번호를 주면 리더인 팀만 가져옴 -->
    Select 
      s.name,
      s.tm_id,
      t.tlead_wth
    from
      mbr m
      left outer join tm_mbr t on m.mbr_id = t.mbr_id
      left outer join tm s on t.tm_mbr_id = s.tm_id
      left outer join spt_clsf p on s.spt_clsf_id = p.spt_clsf_id
    where
      t.tlead_wth = 1 AND
      m.mbr_id = #{value};
  </select>



<select id="findByNo" resultMap="matchMap" parameterType="int">
    <include refid="select1"/>
    where 
      mtch_id = #{value} AND
      tmb.tlead_wth = 1;
  </select> 

 <insert id="insert" parameterType="match"
          useGeneratedKeys="true" keyColumn="mtch_id" keyProperty="no">
    insert into mtch(
      tm_id,
      game_dt,
      area,
      stdm_psti,
      spt_clsf_id,
      cost,
      titl,
      cont,
      tel)
    values(
      #{teamNo},
      #{playDate},
      #{location},
      #{stadiumName},
      #{teamSportsId},
      #{cost},
      #{title},
      #{contents},
      #{telephone})
  </insert>



<!--  삭제가 안된다면 db 설계를 바꿔야함. matchtb_revise 참조-->
  <delete id="delete" parameterType="int">
    delete from mtch
    where mtch_id = #{no}
  </delete>

  <update id="update" parameterType="match">
  update mtch
    set
    titl = #{title},
    cont = #{contents},
    area = #{location},
    stdm_psti = #{stadiumName},
    spt_clsf_id = #{teamSportsId},
    cost = #{cost},
    tel = #{telephone},
    game_dt = #{playDate}
    where 
    mtch_id = #{no}
  </update>

<select id="increaseCount" parameterType="int">
	 update mtch
    set
      vw_cnt = vw_cnt + 1 
      where mtch_id = #{value};
</select>

<select id="countAll" resultType="int">
	select count(*) from mtch;
</select>

</mapper>