<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.eomcs.lms.dao.MemberDao">
  
  <resultMap type="member" id="memberMap">
    <id column="mbr_id"  property="no"/>
    <result column="user_id"   property="id"/>
    <result column="pwd"    property="password"/>
    <result column="name"    property="name"/>
    <result column="bth_dt"    property="birthDay"/>
    <result column="gndr"  property="gender"/>
    <result column="tel"  property="tel"/>
    <result column="email"   property="email"/>
    <result column="bas_addr"  property="baseAddress"/>
    <result column="det_addr"    property="detailAddress"/>
    <result column="prof_phot"    property="photo"/>
    <result column="s_intd"    property="selfIntroduce"/>
    <result column="pid_scop"  property="pid"/>
    <result column="login_type"  property="loginType"/>
    <result column="stat"   property="status"/>
    <result column="cdt"  property="createdDate"/>
    <result column="lcd"    property="latestDate"/>
    <result column="wthd_wth"    property="withdrawalStatus"/>
    <result column="wthd_res"    property="withdrawalReason"/>
    <result column="wthd_dt"  property="withdrawalDate"/>
    <result column="mgr"  property="manager"/>
  </resultMap>
  
  <sql id="default-columns">
      mbr_id, 
      name, 
      user_id,
      email, 
      tel,
      cdt
  </sql>
  
  <select id="findAll" resultMap="memberMap">
    select 
      <include refid="default-columns"/>
    from 
      mbr
    order by 
      name asc
  </select>
  
  <select id="findByNo" resultMap="memberMap" parameterType="int">
    select 
      <include refid="default-columns"/>, 
      prof_phot
    from 
      mbr
    where 
      member_id = #{value}
  </select>
  
  <select id="findByIdPassword" resultMap="memberMap" parameterType="map">
    select 
      <include refid="default-columns"/>
    from 
      mbr
    where 
      user_id = #{id}
      and pwd = #{password}
  </select>
  
  <select id="findByKeyword" resultMap="memberMap" parameterType="string">
    <bind name="pattern1" value="'%' + _parameter + '%'"/>
    select 
      <include refid="default-columns"/> 
    from 
      mbr
    where 
      name like #{pattern1}
      or email like #{pattern1}
      or tel like #{pattern1}
    order by name asc
  </select>
  
  <insert id="insert" parameterType="member">
    insert into mbr(
      user_id,
      pwd,
      name,
      bth_dt,
      gndr,
      tel,
      email,
      bas_addr,
      det_addr,
      login_type)
    values(
      #{id},
      #{password},
      #{name},
      #{birthDay},
      #{gender},
      #{tel},
      #{email},
      #{baseAddress},
      #{detailAddress},
      #{loginType})
  </insert>
  
  <update id="update" parameterType="member">
    update lms_member
    <set>
      <if test="name != null">name = #{name},</if>
      <if test="email != null">email = #{email},</if>
      <if test="password != null">pwd = password(#{password}),</if>
      <if test="tel != null">tel = #{tel},</if>
      <if test="photo != null">prof_phot = #{photo}</if>
    </set>  
    where 
      mbr_id = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from mbr 
    where mbr_id = #{value}
  </delete>
</mapper>










