<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.MyTeamDao">

  <resultMap type="Team" id="teamMap">
    <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    <result column="tm_intd" property="teamInfo" />
    <result column="area" property="teamArea" />
    <result column="age_id" property="teamAgeId" />
    <result column="tm_type_id" property="teamTypeId" />
    <result column="tm_lev_id" property="teamLevelId" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="tm_ambl_phot" property="teamEmblemPhoto" />
    <result column="tm_unf_wth" property="teamUniform" />
    <result column="tm_unf_phot" property="teamUniformPhoto" />
    <result column="cdt" property="teamCreateDate" />
    <result column="mdt" property="teamInfoModifieDate" />
    
    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMemberNo" />
      <result column="mbr_id" property="memberNo" />
    </association>

    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
       <result column="user_id" property="id" />
      <result column="pwd" property="password" />
      <result column="name" property="name" />
      <result column="bth_dt" property="birthDay" />
      <result column="gndr" property="gender" />
      <result column="tel" property="tel" />
    <result column="email" property="email" />
    <result column="post" property="post" />
    <result column="bas_addr" property="baseAddress" />
    <result column="det_addr" property="detailAddress" />
    <result column="prof_phot" property="photo" />
    <result column="s_intd" property="selfIntroduce" />
    <result column="login_type" property="loginType" />
    <result column="stat" property="status" />
    <result column="cdt" property="createdDate" />
    <result column="lcd" property="latestDate" />
    <result column="mgr" property="manager" />
      
    </association>

      <association property="teamType" javaType="teamType">
      <id column="tm_type_id" property="teamTypeId" />
       <result column="types" property="teamType" />
    </association>

      <association property="teamAges" javaType="TeamAges">
      <id column="age_id" property="teamAgeId" />
       <result column="ages" property="teamAges" />
    </association>
  
     <association property="teamLevel" javaType="TeamLevel">
      <id column="tm_lev_id" property="teamLevelId" />
       <result column="levs" property="teamLevel" />
    </association>
  
   <association property="teamTypeSports" javaType="TeamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
       <result column="spt_clsf_name" property="teamSportsType" />
    </association>
  
   <association property="match" javaType="Match">
    <id column="mtch_id" property="matchNo"/>
    <result column="tm_id" property="teamNo"/>
       <result column="game_dt" property="playDate"/>
       <result column="area" property="location"/>
       <result column="tel" property="telephone"/>
       <result column="cost" property="cost"/>
          <result column="stdm_psti" property="stadiumName"/>
    </association>
  
  </resultMap>
  
    <resultMap type="TeamMember" id="teamMemberMap">
    <id column="tm_mbr_id" property="teamMemberNo" />
    <id column="mbr_id" property="memberNo"/>
    <id column="pstn" property="position" />
    <id column="tlead_wth" property="teamLeader" />
    
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
      <result column="name" property="name" />
        <result column="bth_dt" property="birthDay" />
          <result column="gndr" property="gender" />
            <result column="tel" property="tel" />
              <result column="email" property="email" />
      <result column="prof_phot" property="photo" />
    </association>
    
     <association property="team" javaType="Team">
       <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    </association>
  </resultMap>
  
  
 <resultMap type="MatchApply" id="matchApplyMap">
    <id column="mtch_id" property="matchNo" />
    <id column="tm_id" property="teamNo" />
    <result column="aply_dt" property="applyDate" />
    <result column="aply_stat" property="applyStatus" />
   
    <association property="match" javaType="Match">
      <id column="mtch_id" property="no" />
    <result column="tm_id" property="teamNo" />
    <result column="tm_id2" property="otherTeamNo" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="titl" property="title" />
    <result column="cont" property="contents" />
    <result column="vw_cnt" property="viewCount" />
    <result column="cdt" property="createdDate" />
    <result column="game_dt" property="playDate" />
    <result column="area" property="location" />
    <result column="stdm_psti" property="stadiumName" />
    <result column="stdm_lat" property="stadiumLatitude" />
    <result column="stdm_long" property="stadiumLongitude" />
    <result column="tel" property="telephone" />
    <result column="cost" property="cost" />
    </association>
   
   <association property="team" javaType="Team">
       <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    <result column="tm_intd" property="teamInfo" />
    <result column="area" property="teamArea" />
    <result column="age_id" property="teamAgeId" />
    <result column="tm_type_id" property="teamTypeId" />
    <result column="tm_lev_id" property="teamLevelId" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="tm_ambl_phot" property="teamEmblemPhoto" />
    <result column="tm_unf_wth" property="teamUniform" />
    <result column="tm_unf_phot" property="teamUniformPhoto" />
    <result column="cdt" property="teamCreateDate" />
    <result column="mdt" property="teamInfoModifieDate" />
    </association>
  
 </resultMap>
  
 <resultMap type="match" id="matchMap">
    <id column="mtch_id" property="no" />
    <result column="tm_id" property="teamNo" />
    <result column="tm_id2" property="otherTeamNo" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="titl" property="title" />
    <result column="cont" property="contents" />
    <result column="vw_cnt" property="viewCount" />
    <result column="cdt" property="createdDate" />
    <result column="game_dt" property="playDate" />
    <result column="area" property="location" />
    <result column="stdm_psti" property="stadiumName" />
    <result column="stdm_lat" property="stadiumLatitude" />
    <result column="stdm_long" property="stadiumLongitude" />
    <result column="tel" property="telephone" />
    <result column="cost" property="cost" />



</resultMap>  
  
  
    <sql id="default-columns">
      mbr_id, 
      name, 
      user_id,
      email, 
      tel,
      cdt
  </sql>
  
  
   <select id="findByMyTeam" resultMap="teamMap" parameterType="int">
    select
      tm_id,
      t.name,
      tm_intd,
      tm_ambl_phot,
      tm_unf_phot,
      area,
     t.cdt,
     types,
    levs,
    spt_clsf_name,
    ages,
    m.name
    from
      tm t
    left outer join tm_mbr tmbr on t.tm_id = tmbr.tm_mbr_id
    left outer join mbr m on tmbr.mbr_id = m.mbr_id
       left outer join age a on t.age_id = a.age_id
        left outer join tm_type tp on t.tm_type_id = tp.tm_type_id
         left outer join tm_lev tl on t.tm_lev_id = tl.tm_lev_id
          left outer join spt_clsf s on t.spt_clsf_id = s.spt_clsf_id
         
       where m.mbr_id = ${value}
  </select> 

  
   <select id="findByMyTeamMember" resultMap="teamMemberMap" parameterType="int">
    select
    tmb.tm_mbr_id,
    tmb.mbr_id,
    m.name,    
    pstn,
    tlead_wth,
    m.bth_dt,
    m.gndr,
    m.tel,
    m.email,
    m.prof_phot
    from
    tm_mbr tmb
    left outer join tm t on tmb.tm_mbr_id = t.tm_id
    left outer join mbr m on tmb.mbr_id = m.mbr_id
         
       where tmb.mbr_id = ${value}
  </select> 

     <select id="findByMyTeamMember2" resultMap="teamMemberMap" >
   
    select
    tmb.mbr_id,
    m.name,    
    pstn,
    tlead_wth,
    tm_mbr_id,
    prof_phot
    from
    tm_mbr tmb
    left outer join tm t on tmb.tm_mbr_id = t.tm_id
    left outer join mbr m on tmb.mbr_id = m.mbr_id
         
  </select> 
  
 <delete id="delete" parameterType="hashmap">
 delete 
  from
    tm_mbr
  where  
      mbr_id = #{mno} AND tm_mbr_id = #{tno}

  </delete>

 <select id="findByMatchNo" resultMap="matchApplyMap" parameterType="int">
 
select 
mt.tm_id2, t.name 
from mtchaply mtc  
left outer join mtch mt on mtc.mtch_id = mt.mtch_id 
left outer join tm t on mt.tm_id = t.tm_id 
where 
mtc.tm_id = #{value}
  </select>


 <select id="findByMatchNo2" resultMap="matchMap" parameterType="int">
  select
    tm_id
  from
      mtch
  where
    mtch_id = #{value}
  </select>

 <select id="findByMatchTeam" resultMap="teamMap" parameterType="int">
    select
      t.name,
      t.tm_ambl_phot,
      game_dt,
      mc.area,
      stdm_psti,
      cost
    from
      tm t
       left outer join mtch mc on t.tm_id = mc.tm_id
       where t.tm_id = ${value}
  </select> 



</mapper>