<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.MyTeamDao">

  <resultMap type="Team" id="teamMap">
    <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    <result column="tm_intd" property="teamInfo" />
    <result column="area" property="teamArea" />
    <result column="age_id" property="teamAgeId" />
    <result column="tm_type_id" property="teamTypeId" />
    <result column="tm_lev_id" property="teamLevelId" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="tm_ambl_phot" property="teamEmblemPhoto" />
    <result column="tm_unf_wth" property="teamUniform" />
    <result column="tm_unf_phot" property="teamUniformPhoto" />
    <result column="cdt" property="teamCreateDate" />
    <result column="mdt" property="teamInfoModifieDate" />
    
    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMemberNo" />
      <result column="mbr_id" property="memberNo" />
    </association>

    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
       <result column="user_id" property="id" />
      <result column="pwd" property="password" />
      <result column="name" property="name" />
      <result column="bth_dt" property="birthDay" />
      <result column="gndr" property="gender" />
      <result column="tel" property="tel" />
    <result column="email" property="email" />
    <result column="post" property="post" />
    <result column="bas_addr" property="baseAddress" />
    <result column="det_addr" property="detailAddress" />
    <result column="prof_phot" property="photo" />
    <result column="s_intd" property="selfIntroduce" />
    <result column="login_type" property="loginType" />
    <result column="stat" property="status" />
    <result column="cdt" property="createdDate" />
    <result column="lcd" property="latestDate" />
    <result column="mgr" property="manager" />
      
    </association>

      <association property="teamType" javaType="teamType">
      <id column="tm_type_id" property="teamTypeId" />
       <result column="types" property="teamType" />
    </association>

      <association property="teamAges" javaType="TeamAges">
      <id column="age_id" property="teamAgeId" />
       <result column="ages" property="teamAges" />
    </association>
  
     <association property="teamLevel" javaType="TeamLevel">
      <id column="tm_lev_id" property="teamLevelId" />
       <result column="levs" property="teamLevel" />
    </association>
  
   <association property="teamTypeSports" javaType="TeamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
       <result column="spt_clsf_name" property="teamSportsType" />
    </association>
  
   <association property="match" javaType="Match">
    <id column="mtch_id" property="matchNo"/>
    <result column="tm_id" property="teamNo"/>
       <result column="game_dt" property="playDate"/>
       <result column="area" property="location"/>
       <result column="tel" property="telephone"/>
       <result column="cost" property="cost"/>
          <result column="stdm_psti" property="stadiumName"/>
    </association>
  
  <association property="topLocation" javaType="TopLocation">
      <id column="toplc_id" property="topLocationId" />
      <result column="toplc_no" property="topLocationNo" />
      <result column="toplc_name" property="topLocationName" />
    </association>
    
    <association property="middleLocation" javaType="MiddleLocation">
      <id column="midlc_id" property="middleLocationId" />
      <result column="midlc_no" property="middleLocationNo" />
      <result column="midlc_name" property="middleLocationName" />
      <result column="toplc_id" property="topLocationId" />
    </association>
 
  </resultMap>
  
    <resultMap type="TeamMember" id="teamMemberMap">
    <id column="tm_mbr_id" property="teamMemberNo" />
    <id column="mbr_id" property="memberNo"/>
    <id column="pstn" property="position" />
    <id column="tlead_wth" property="teamLeader" />
    
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
      <result column="name" property="name" />
        <result column="bth_dt" property="birthDay" />
          <result column="gndr" property="gender" />
            <result column="tel" property="tel" />
              <result column="email" property="email" />
      <result column="prof_phot" property="photo" />
    </association>
    
     <association property="team" javaType="Team">
       <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    </association>
  </resultMap>
  
  
 <resultMap type="MatchApply" id="matchApplyMap">
    <id column="mtch_id" property="matchNo" />
    <id column="tm_id" property="teamNo" />
    <result column="aply_dt" property="applyDate" />
    <result column="aply_stat" property="applyStatus" />
   
    <association property="match" javaType="Match">
      <id column="mtch_id" property="no" />
    <result column="tm_id" property="teamNo" />
    <result column="tm_id2" property="otherTeamNo" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="titl" property="title" />
    <result column="cont" property="contents" />
    <result column="vw_cnt" property="viewCount" />
    <result column="cdt" property="createdDate" />
    <result column="game_dt" property="playDate" />
    <result column="area" property="location" />
    <result column="stdm_psti" property="stadiumName" />
    <result column="stdm_lat" property="stadiumLatitude" />
    <result column="stdm_long" property="stadiumLongitude" />
    <result column="tel" property="telephone" />
    <result column="cost" property="cost" />
    </association>
   
   <association property="team" javaType="Team">
       <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    <result column="tm_intd" property="teamInfo" />
    <result column="area" property="teamArea" />
    <result column="age_id" property="teamAgeId" />
    <result column="tm_type_id" property="teamTypeId" />
    <result column="tm_lev_id" property="teamLevelId" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="tm_ambl_phot" property="teamEmblemPhoto" />
    <result column="tm_unf_wth" property="teamUniform" />
    <result column="tm_unf_phot" property="teamUniformPhoto" />
    <result column="cdt" property="teamCreateDate" />
    <result column="mdt" property="teamInfoModifieDate" />
    </association>
  
 </resultMap>
  
 <resultMap type="match" id="matchMap">
    <result column="mtch_id" property="no" />
    <result column="tm_id" property="teamNo" />
    <result column="tm_id2" property="otherTeamNo" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="titl" property="title" />
    <result column="cont" property="contents" />
    <result column="vw_cnt" property="viewCount" />
    <result column="cdt" property="createdDate" />
    <result column="game_dt" property="playDate" />
    <result column="area" property="location" />
    <result column="stdm_psti" property="stadiumName" />
    <result column="stdm_lat" property="stadiumLatitude" />
    <result column="stdm_long" property="stadiumLongitude" />
    <result column="tel" property="telephone" />
    <result column="cost" property="cost" />
    
    <association property="matchApplly" javaType="MatchApply">
    <id column="mtch_id" property="matchNo" />
    <id column="tm_id" property="teamNo" />
    <result column="aply_dt" property="applyDate" />
    <result column="aply_stat" property="applyStatus" />
    </association>
    
       <association property="team" javaType="Team">
       <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    <result column="tm_intd" property="teamInfo" />
    <result column="area" property="teamArea" />
    <result column="age_id" property="teamAgeId" />
    <result column="tm_type_id" property="teamTypeId" />
    <result column="tm_lev_id" property="teamLevelId" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="tm_ambl_phot" property="teamEmblemPhoto" />
    <result column="tm_unf_wth" property="teamUniform" />
    <result column="tm_unf_phot" property="teamUniformPhoto" />
    <result column="cdt" property="teamCreateDate" />
    <result column="mdt" property="teamInfoModifieDate" />
    </association>
    
     <association property="teamAges" javaType="TeamAges">
      <id column="age_id" property="teamAgeId" />
      <result column="ages" property="teamAges" />
    </association>

    <association property="teamLevel" javaType="TeamLevel">
      <id column="tm_lev_id" property="teamLevelId" />
      <result column="levs" property="teamLevel" />
    </association>

    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMemberNo" />
      <id column="mbr_id" property="memberNo" />
      <id column="pstn" property="position" />
      <id column="tlead_wth" property="teamLeader" />
    </association>
    
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
      <result column="name" property="name" />
    </association>

    <association property="teamType" javaType="teamType">
      <id column="tm_type_id" property="teamTypeId" />
      <result column="types" property="teamType" />
    </association>

    <association property="teamTypeSports" javaType="teamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
      <result column="spt_clsf_name" property="teamSportsType" />
    </association>
    
</resultMap>  

  
    
 <resultMap type="TeamRecruit" id="teamRecruitMap">
    <id column="rcrm_id" property="teamNo" />
    <result column="tm_id" property="teamId" />
    <result column="titl" property="teamTitle" />
    <result column="vw_cnt" property="teamViewCount" />
    <result column="cdt" property="teamCreatedDate" />
    <result column="rcrm_stat" property="teamRcrmStatus" />
    <result column="cont" property="teamContents" />

    <association property="team" javaType="Team">
      <id column="tm_id" property="teamId" />
      <result column="age_id" property="teamAgeId" />
      <result column="area" property="teamArea" />
      <result column="name" property="teamName" />
    </association>
    
    <association property="joinTeam" javaType="JoinTeam">
      <id column="rcrm_id" property="rcrmId" />
      <id column="mbr_id"  property="mbrId"/>
    </association>
    
     <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
       <result column="user_id" property="id" />
      <result column="pwd" property="password" />
      <result column="name" property="name" />
      <result column="bth_dt" property="birthDay" />
      <result column="gndr" property="gender" />
      <result column="tel" property="tel" />
    <result column="email" property="email" />
    <result column="post" property="post" />
    <result column="bas_addr" property="baseAddress" />
    <result column="det_addr" property="detailAddress" />
    <result column="prof_phot" property="photo" />
    <result column="s_intd" property="selfIntroduce" />
    <result column="login_type" property="loginType" />
    <result column="stat" property="status" />
    <result column="cdt" property="createdDate" />
    <result column="lcd" property="latestDate" />
    <result column="mgr" property="manager" />
      
    </association>

  </resultMap>
  
   <resultMap type="Member" id="MemberMap">
    <id column="mbr_id" property="no" />
       <result column="user_id" property="id" />
      <result column="pwd" property="password" />
      <result column="name" property="name" />
      <result column="bth_dt" property="birthDay" />
      <result column="gndr" property="gender" />
      <result column="tel" property="tel" />
    <result column="email" property="email" />
    <result column="post" property="post" />
    <result column="bas_addr" property="baseAddress" />
    <result column="det_addr" property="detailAddress" />
    <result column="prof_phot" property="photo" />
    <result column="s_intd" property="selfIntroduce" />
    <result column="login_type" property="loginType" />
    <result column="stat" property="status" />
    <result column="cdt" property="createdDate" />
    <result column="lcd" property="latestDate" />
    <result column="mgr" property="manager" />
      </resultMap>

      <resultMap type="JoinTeam" id="JoinTeamMAp">

      <id column="rcrm_id" property="rcrmId" />
      <id column="mbr_id"  property="mbrId"/>
      
      </resultMap>
      
  <resultMap type="TeamRecruit" id="teamRecruitMap2">
    <id column="rcrm_id" property="teamNo" />
    <result column="tm_id" property="teamId" />
    <result column="titl" property="teamTitle" />
    <result column="vw_cnt" property="teamViewCount" />
    <result column="cdt" property="teamCreatedDate" />
    <result column="rcrm_stat" property="teamRcrmStatus" />
    <result column="cont" property="teamContents" />
  </resultMap>
  
    <sql id="default-columns">
      mbr_id, 
      name, 
      user_id,
      email, 
      tel,
      cdt
  </sql>
    
 <select id="findAll4" resultMap="matchMap"  parameterType="int">
  select
    mtch_id,
    mt.tm_id,
    mt.spt_clsf_id,
    titl,
    cont,
    mt.cdt,
    game_dt,
    mt.area,
    stdm_psti,
    mt.tel,
    cost
  from
    mtch mt
    left outer join tm t on mt.tm_id = t.tm_id
  where
    mt.tm_id=${value};
  </select>  
  
   <select id="findByMyTeam" resultMap="teamMap" parameterType="int">
    select
      tm_id,
      t.name,
      tm_intd,
      tm_ambl_phot,
      tm_unf_phot,
      area,
     t.cdt,
     types,
    levs,
    spt_clsf_name,
    ages,
    m.name
    from
      tm t
    left outer join tm_mbr tmbr on t.tm_id = tmbr.tm_mbr_id
    left outer join mbr m on tmbr.mbr_id = m.mbr_id
       left outer join age a on t.age_id = a.age_id
        left outer join tm_type tp on t.tm_type_id = tp.tm_type_id
         left outer join tm_lev tl on t.tm_lev_id = tl.tm_lev_id
          left outer join spt_clsf s on t.spt_clsf_id = s.spt_clsf_id
         
       where m.mbr_id = ${value}
  </select> 

  
   <select id="findByMyTeamMember" resultMap="teamMemberMap" parameterType="int">
    select
    tmb.tm_mbr_id,
    tmb.mbr_id,
    m.name,    
    pstn,
    tlead_wth,
    m.bth_dt,
    m.gndr,
    m.tel,
    m.email,
    m.prof_phot
    from
    tm_mbr tmb
    left outer join tm t on tmb.tm_mbr_id = t.tm_id
    left outer join mbr m on tmb.mbr_id = m.mbr_id
         
       where tmb.mbr_id = ${value}
  </select> 

     <select id="findByMyTeamMember2" resultMap="teamMemberMap" >
   
    select
    tmb.mbr_id,
    m.name,    
    pstn,
    tlead_wth,
    tm_mbr_id,
    prof_phot
    from
    tm_mbr tmb
    left outer join tm t on tmb.tm_mbr_id = t.tm_id
    left outer join mbr m on tmb.mbr_id = m.mbr_id
         
  </select> 
  
    <select id="findByMyTeamMember3" resultMap="teamMemberMap" parameterType="int">
    select
    tmb.tm_mbr_id,
    tmb.mbr_id,
    m.name,    
    pstn,
    tlead_wth,
    m.bth_dt,
    m.gndr,
    m.tel,
    m.email,
    m.prof_phot
    from
    tm_mbr tmb
    left outer join tm t on tmb.tm_mbr_id = t.tm_id
    left outer join mbr m on tmb.mbr_id = m.mbr_id
         
       where tmb.tm_mbr_id = ${value}
  </select> 
  
  
  
  
  
 <delete id="delete" parameterType="hashmap">
 delete 
  from
    tm_mbr
  where  
      mbr_id = #{mno} AND tm_mbr_id = #{tno}

  </delete>

 <select id="findByMatchNo" resultMap="matchApplyMap" parameterType="int">
 
select 
mt.mtch_id,
mt.tm_id,
t.name,
mt.area,
mt.stdm_psti,
mt.game_dt,
mt.cost,
t.tm_ambl_phot,
mt.tm_id2

from 
mtchaply mtc  
left outer join mtch mt on mtc.mtch_id = mt.mtch_id 
left outer join tm t on mt.tm_id = t.tm_id 
where 
mtc.tm_id = #{value}
  </select>


 <select id="findByMatchNo2" resultMap="matchMap" parameterType="int">
 select 
 t.name,
 t.age_id,
 t.tm_lev_id,
 t.tm_ambl_phot,
 t.tm_intd,
 t.tm_id,
 mt.mtch_id,
 mt.tm_id2,
 mt.tm_id
 
 from 
 mtch mt
 left outer join mtchaply mtc on mt.mtch_id = mtc.mtch_id  
 left outer join tm t on mtc.tm_id = t.tm_id
 left outer join age a on t.age_id = a.age_id
 left outer join tm_lev tl on t.tm_lev_id = tl.tm_lev_id
 left outer join tm_type tt on t.tm_type_id = tt.tm_type_id
 left outer join spt_clsf s on t.spt_clsf_id = s.spt_clsf_id
    where 
  mt.tm_id =  #{value}
  </select>

 <select id="findByMatchTeam" resultMap="teamMap" parameterType="int">
    select
      t.name,
      t.tm_ambl_phot,
      game_dt,
      mc.area,
      stdm_psti,
      cost
    from
      tm t
       left outer join mtch mc on t.tm_id = mc.tm_id
       where 
       t.tm_id = ${value} 
  </select> 




 <select id="findJoinTeam" resultMap="teamRecruitMap" >
 select 
 m.name,
 rc.tm_id,
 m.mbr_id,
 gndr,
 tel,    
 email,
 m.prof_phot
 from
  rcrm rc 
  left outer join join_tm jt on rc.rcrm_id = jt.rcrm_id
  left outer join mbr m on jt.mbr_id = m.mbr_id 
  where NOT m.name is null
  </select> 

 <select id="findByMember" resultMap="MemberMap" parameterType="int">

 
   select 
      mbr_id,
      name,
      bth_dt,
      gndr, 
      prof_phot,
      email,
      user_id,
      pwd,
      tel,
      post,
      bas_addr,
      det_addr,
      login_type,
      s_intd
    from 
      mbr
    where 
      mbr_id = #{value}
  </select>

  <insert id="insertTeamMember" parameterType="HashMap">
    insert into 
     tm_mbr(
      tm_mbr_id,
      mbr_id) 
      values(
      #{tno},
      #{mno}
      )
  </insert>

 <select id="joinTeam" resultMap="JoinTeamMAp" parameterType="int" >
 select 
*
 from
  join_tm 
  where 
  mbr_id= #{value}
  </select> 

 <select id="teamRecruit2" resultMap="teamRecruitMap2" parameterType="int" >
select
 * 
 from rcrm 
 where 
 tm_id = #{value}
  </select> 

 <delete id="deleteJoinTeam" parameterType="hashmap">
 delete 
  from
    join_tm
  where  
      mbr_id = #{mno} AND rcrm_id = #{rcrmno}

  </delete>

 <delete id="mtchAplyDelete" parameterType="hashmap">
    delete from mtchaply
    where tm_id = #{tno} and mtch_id = #{mtno}
  </delete>

  <update id="mtchupdate" parameterType="hashmap">
  update mtch
    set
    tm_id2 = #{otherTeamNo}
    where 
    mtch_id = #{mtchNo}
  </update>

 <select id="sucessMatching" resultMap="matchMap" parameterType="int" >
select
 * 
 from mtch 
 where 
 tm_id = #{value}
  </select> 
  
 <delete id="mtchDelete" parameterType="int">
    delete from mtch
    where  mtch_id = #{value}
  </delete>
  
  
  <delete id="mtchApllyDelete" parameterType="int"> <!-- 성사된 매치경기 삭제할때. -->
    delete from mtchaply
    where  mtch_id = #{value}
  </delete>
  

 <select id="matchOtherTeam" resultMap="teamMap" parameterType="int">
    select
      *
    from
      tm 
       where 
       tm_id = ${value} 
  </select> 


 <select id="matchMyTeam" resultMap="teamMap" parameterType="int">
      select
      *
    from
      tm 
       where 
       tm_id = ${value} 
  </select> 

 <select id="findByNo" resultMap="teamMap" parameterType="int">
    select
    tm_id,
    area,
    t.name,
    tm_ambl_phot,
    tm_intd,
     p.toplc_name,
    d.midlc_name,
    a.ages,
    tt.types,
    spt_clsf_name,
    t.cdt,
    tl.levs
    from
    tm t
    left outer join
    age a on t.age_id = a.age_id
    left outer join tm_type tt on t.tm_type_id = tt.tm_type_id
    left outer join spt_clsf s on t.spt_clsf_id = s.spt_clsf_id
     left outer join tm_lev tl on t.tm_lev_id = tl.tm_lev_id
      left outer join toplc p on p.toplc_no = substr(t.area,1,2)
    left outer join midlc d on d.midlc_id = substr(t.area,3,2)
    where   
    tm_id = ${value}
  
  </select>

<update id="update" parameterType="team">
  update
    tm
 <set>
   <if test="teamInfo != null">tm_intd = #{teamInfo},</if>
    <if test="teamAgeId != null">age_id = #{teamAgeId},</if>
     <if test="teamTypeId != null">tm_type_id = #{teamTypeId},</if>
    <if test="teamLevelId != null">tm_lev_id = #{teamLevelId},</if>
     <if test="teamEmblemPhoto != null">tm_ambl_phot = #{teamEmblemPhoto}</if>
   </set>
 where
    tm_id = #{teamId};
  </update>
  
  <update id="update22" parameterType="questionBoard">
  update
    qstn
 set
    ans_stat = #{questionStatus}
 where
    qstn_id = #{questionNo};
  </update>
  




















</mapper>