<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.QuestionDao">

  <resultMap type="QuestionBoard" id="questionMap">
    <id column="qstn_id" property="questionNo" />
     <result column="mbr_id" property="memberNo" />
     <result column="titl" property="title" />
     <result column="cont" property="contents" />
     <result column="qstn_type" property="questionType" />
     <result column="ans_stat" property="questionStatus" />
     <result column="cdt" property="createdDate" />

    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="name" property="id" />
    </association>

    <association property="answerBoard" javaType="AnswerBoard">
      <id column="ans_id" property="answerNo" />
        <result column="cont" property="contents"/>
    </association>
    
  </resultMap>
 

  <select id="findAll" resultMap="questionMap" parameterType="map">
  select
    q.qstn_id,
    q.titl,
      a.cont,
    ans_stat,
    q.cdt,
    ans_id, 
    m.name,
    q.mbr_id
  from
    qstn q
    left outer join mbr m on q.mbr_id = m.mbr_id
    left outer join ans a on q.qstn_id = a.qstn_id 
    order by qstn_id desc

  </select>

  <select id="findByNo" resultMap="questionMap" parameterType="int">
 select
    qstn_id,
    titl,
    cont,
    ans_stat,
    q.cdt,
    name
 from
    qstn q
    left outer join mbr m on q.mbr_id = m.mbr_id
    
 where
    q.qstn_id =
    #{questionNo};
  </select>
  
    <select id="myfindByNo" resultMap="questionMap" parameterType="int">
 select
    qstn_id,
    titl,
    cont,
    ans_stat,
    q.cdt,
    name
 from
    qstn q
    left outer join mbr m on q.mbr_id = m.mbr_id
 where
    q.mbr_id = #{memberNo};
  </select>
  
  <delete id="delete" parameterType="int">
  delete
   from
    qstn
  where 
    qstn_id = #{questionNo}
  </delete>

  <select id="detailUpdate" resultMap="questionMap" parameterType="int">
  select
    qstn_id,
    titl,
    cont,
    ans_stat,
    q.cdt,
    name
 from
    qstn q
    left outer join mbr m on q.mbr_id = m.mbr_id
 where
    q.qstn_id =
    #{questionNo};
  </select>



<update id="update" parameterType="questionBoard">
  update
    qstn
 set
    titl = #{title},
    cont = #{contents},
    ans_stat = #{questionStatus}
 where
    qstn_id = #{questionNo};
  </update>
  
  <update id="update22" parameterType="questionBoard">
  update
    qstn
 set
    ans_stat = #{questionStatus}
 where
    qstn_id = #{questionNo};
  </update>
  
  
  
  <insert id="insert" parameterType="questionBoard" useGeneratedKeys="true" keyColumn="qstn_id"
    keyProperty="questionNo">
    insert into qstn(
    titl,
    cont,
    mbr_id
    )
    values(
    #{title},
    #{contents},
    #{memberNo}
   )
  </insert>
  <select id="countAll" resultType="int">
    select count(*) from qstn;
  </select>
  
</mapper>