<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.TeamRecruitDao">

  <resultMap type="TeamRecruit" id="teamRecruitMap">
    <id column="rcrm_id" property="teamId" />
    <result column="titl" property="teamTitl" />
    <result column="vw_cnt" property="teamVwCnt" />

    <!-- <association property="lesson" javaType="lesson"> <id column="lesson_id" property="no" /> <result 
      column="lessonTitle" property="title" /> <result column="sdt" property="startDate" /> <result column="edt" 
      property="endDate" /> </association> -->
  </resultMap>


  <select id="findAll" resultMap="teamRecruitMap" parameterType="map">
    select
    rcrm_id,
    titl,
    vw_cnt
    from
    rcrm
  </select>

</mapper>