<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.TeamDao">

  <resultMap type="Team" id="teamMap">
    <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    <result column="tm_intd" property="teamInfo" />
    <result column="area" property="teamArea" />
    <result column="age_id" property="teamAgeId" />
    <result column="tm_type_id" property="teamTypeId" />
    <result column="tm_lev_id" property="teamLevelId" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="tm_ambl_phot" property="teamEmblemPhoto" />
    <result column="tm_unf_wth" property="teamUniform" />
    <result column="tm_unf_phot" property="teamUniformPhoto" />
    <result column="cdt" property="teamCreateDate" />
    <result column="mdt" property="teamInfoModifieDate" />
  </resultMap>

  <resultMap type="Team" id="teamMap1">
    <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    <result column="tm_intd" property="teamInfo" />
    <result column="area" property="teamArea" />
    <result column="age_id" property="teamAgeId" />
    <result column="tm_type_id" property="teamTypeId" />
    <result column="tm_lev_id" property="teamLevelId" />
    <result column="spt_clsf_id" property="teamSportsId" />
    <result column="tm_ambl_phot" property="teamEmblemPhoto" />
    <result column="tm_unf_wth" property="teamUniform" />
    <result column="tm_unf_phot" property="teamUniformPhoto" />
    <result column="cdt" property="teamCreateDate" />
    <result column="mdt" property="teamInfoModifieDate" />

    <association property="teamAges" javaType="TeamAges">
      <id column="age_id" property="teamAgeId" />
      <result column="ages" property="teamAges" />
    </association>

    <association property="teamLevel" javaType="TeamLevel">
      <id column="tm_lev_id" property="teamLevelId" />
      <result column="levs" property="teamLevel" />
    </association>

    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMemberNo" />
      <id column="mbr_id" property="memberNo" />
      <id column="pstn" property="position" />
      <id column="tlead_wth" property="teamLeader" />
    </association>
    
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
      <result column="name" property="name" />
    </association>

    <association property="teamType" javaType="teamType">
      <id column="tm_type_id" property="teamTypeId" />
      <result column="types" property="teamType" />
    </association>

    <association property="teamTypeSports" javaType="teamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
      <result column="spt_clsf_name" property="teamSportsType" />
    </association>

  </resultMap>

  <resultMap type="TeamAges" id="ageMap">
    <id column="age_id" property="teamAgeId" />
    <result column="ages" property="teamAges" />
  </resultMap>

  <resultMap type="TeamType" id="typeMap">
    <id column="tm_type_id" property="teamTypeId" />
    <result column="types" property="teamType" />
  </resultMap>

  <resultMap type="TeamTypeSports" id="typeSportsMap">
    <id column="spt_clsf_id" property="teamSportsTypeId" />
    <result column="spt_clsf_name" property="teamSportsType" />
  </resultMap>

  <resultMap type="TeamLevel" id="teamLevelMap">
    <id column="tm_lev_id" property="teamLevelId" />
    <result column="levs" property="teamLevel" />
  </resultMap>
  
  <resultMap type="TeamMember" id="teamMemberMap">
    <id column="tm_mbr_id" property="teamMemberNo" />
    <id column="mbr_id" property="memberNo"/>
    <id column="pstn" property="position" />
    <id column="tlead_wth" property="teamLeader" />
    
    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
      <result column="name" property="name" />
    </association>
    
     <association property="team" javaType="Team">
       <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    </association>
    
  </resultMap>
  
  <resultMap type="TeamMember" id="teamMemberMap2">
    <id column="tm_mbr_id" property="teamMemberNo" />
    <id column="pstn" property="position" />
    <id column="tlead_wth" property="teamLeader" />
    
    <collection property="member" ofType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
      <result column="name" property="name" />
    </collection>
    
     <collection property="team" ofType="Team">
       <id column="tm_id" property="teamId" />
    <result column="name" property="teamName" />
    </collection>
  </resultMap>
  
   <select id="findAllTeam1" resultMap="teamMap1" parameterType="map">
    select
    tm_id,
    tm_ambl_phot,
    t.name,
    tm_intd,
    area,
    tl.levs,
    a.ages,
    spt_clsf_name,
    t.cdt
    from
    tm t
    left outer join age a on t.age_id = a.age_id
    left outer join tm_lev tl on t.tm_lev_id = tl.tm_lev_id
    left outer join spt_clsf s on t.spt_clsf_id = s.spt_clsf_id
  </select> 

<!-- <select id="findAllTeam1" resultMap="teamMap1" parameterType="map">
    select
    tm_id,
    tm_ambl_phot,
    name,
    spt_clsf_name
    from
    tm t
    left outer join spt_clsf s on t.spt_clsf_id = s.spt_clsf_id
  </select> -->


  <select id="findAllTeam2" resultMap="teamMap1" parameterType="map">
    select
    tm_id,
    name,
    tm_intd,
    area,
    a.ages,
    tl.levs,
    tt.types,
    spt_clsf_name,
    tm_ambl_phot,
    tm_unf_phot,
    cdt,
    mdt
    from
    tm t
    left outer join
    age a on t.age_id = a.age_id
    left outer join tm_lev tl on t.tm_lev_id = tl.tm_lev_id
    left outer
    join tm_type tt on t.tm_type_id = tt.tm_type_id
    left outer join spt_clsf s on t.spt_clsf_id =
    s.spt_clsf_id
  </select>

 <select id="findBykeyword" resultMap="teamMap1" parameterType="string">
    <bind name="pattern1" value="'%' + _parameter + '%'"/>
   select
    tm_id,
    tm_ambl_phot,
    t.name,
    tm_intd,
    area,
    tl.levs,
    a.ages,
    spt_clsf_name,
    t.cdt
    from
    tm t
    left outer join age a on t.age_id = a.age_id
    left outer join tm_lev tl on t.tm_lev_id = tl.tm_lev_id
    left outer join spt_clsf s on t.spt_clsf_id = s.spt_clsf_id
    where 
    t.name like #{pattern1}
     
  </select>

  <select id="findTeamType" resultMap="typeMap" parameterType="map">
    select
    tm_type_id,
    types
    from
    tm_type
  </select>

  <select id="findTeamAge" resultMap="ageMap" parameterType="map">
    select
    age_id,
    ages
    from
    age
  </select>

  <select id="findSportsType" resultMap="typeSportsMap" parameterType="map">
    select
    spt_clsf_id,
    spt_clsf_name
    from
    spt_clsf
  </select>

  <select id="findTeamLevel" resultMap="teamLevelMap" parameterType="map">
    select
    tm_lev_id,
    levs
    from
    tm_lev
  </select>
  
   <select id="findTeamMember" resultMap="teamMemberMap" parameterType="map">
    select
    tm_mbr_id,
    tm_id,
    tmb.mbr_id,
    m.name,    
    pstn,
    tlead_wth
    from
    tm_mbr tmb
    left outer join tm t on tmb.tm_mbr_id = t.tm_id
    left outer join mbr m on tmb.mbr_id = m.mbr_id
     order by (case when tlead_wth then 1 when tlead_wth then 2 end) desc
  </select>
  
  <select id="findByNoWithTeamMember" resultMap="teamMemberMap2" parameterType="int">
    select
    tm_mbr_id,
    m.name,    
    pstn,
    tlead_wth
    from
    tm_mbr tmb
    left outer join tm t on tmb.tm_mbr_id = t.tm_id
    left outer join mbr m on tmb.mbr_id = m.mbr_id
    where tm_mbr_id = ${value}
  </select>

  <select id="findByNo" resultMap="teamMap1" parameterType="int">
    select
    tm_id,
    t.name,
    tm_ambl_phot,
    tm_intd,
    area,
    a.ages,
    tt.types,
    spt_clsf_name,
    t.cdt,
    m.name,
    pstn,
    tlead_wth
    from
    tm t
    left outer join
    age a on t.age_id = a.age_id
    left outer join tm_type tt on t.tm_type_id = tt.tm_type_id
    left outer join spt_clsf s on t.spt_clsf_id = s.spt_clsf_id
    left outer join mbr m on t.tm_id = m.mbr_id
    left outer join tm_mbr tmb on t.tm_id = tmb.tm_mbr_id
    where tm_id = ${value}
  </select>



  <insert id="insert" parameterType="team" useGeneratedKeys="true" keyColumn="tm_id"
    keyProperty="teamId">
    insert into tm(
    name,
    tm_intd,
    area,
    age_id,
    tm_lev_id,
    tm_type_id,
    spt_clsf_id,
    tm_ambl_phot,
    tm_unf_phot
    )
    values(
    #{teamName},
    #{teamInfo},
    #{teamArea},
    #{teamAgeId},
    #{teamLevelId},
    #{teamTypeId},
    #{teamSportsId},
    #{teamEmblemPhoto},
    #{teamUniformPhoto}
    )

  </insert>
  
  <insert id="insertTeamLeader" parameterType="teamMember" useGeneratedKeys="true" keyColumn="tm_mbr_id"
    keyProperty="teamMemberNo">
    insert into tm_mbr(
    tm_mbr_id,
    mbr_id,
    tlead_wth
    )
    values(
    #{teamMemberNo},
    #{memberNo},
    #{teamLeader}
    )

  </insert>


</mapper>