<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eomcs.lms.dao.TeamRecruitDao">

  <resultMap type="TeamRecruit" id="teamRecruitMap">
    <id column="rcrm_id" property="teamNo" />
    <result column="tm_id" property="teamId" />
    <result column="titl" property="teamTitle" />
    <result column="vw_cnt" property="teamViewCount" />
    <result column="cdt" property="teamCreatedDate" />
    <result column="rcrm_stat" property="teamRcrmStatus" />
    <result column="cont" property="teamContents" />

    <association property="team" javaType="Team">
      <id column="tm_id" property="teamId" />
      <result column="area" property="teamArea" />
      <result column="name" property="teamName" />
    </association>

  <association property="teamTypeSports" javaType="teamTypeSports">
    <id column="spt_clsf_id" property="teamSportsTypeId" />
    <result column="spt_clsf_name" property="teamSportsType" />
  </association>

  <association property="teamMember" javaType="TeamMember">
    <id column="tm_mbr_id" property="teamMemberNo" />
    <result column="mbr_id" property="memberNo" />
    <result column="tlead_wth" property="teamLeader" />
  </association>

  <association property="member" javaType="Member">
    <id column="mbr_id" property="no" />
    <result column="user_id" property="id" />
  </association>
  
  </resultMap>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
  <resultMap type="Member" id="memberMap">
    <id column="mbr_id" property="no" />
    <result column="user_id" property="id" />

    <association property="teamMember" javaType="TeamMember">
      <id column="mbr_id" property="memberNo" />
      <result column="tlead_wth" property="teamLeader" />
    </association>

  </resultMap>

<!-- //////////////////////////////////////////////////////////////////////////////////// -->
  <resultMap type="Team" id="team">
    <id column="tm_id" property="teamId" />
    <result column="area" property="teamArea" />
    <result column="name" property="teamName" />

    <association property="teamTypeSports" javaType="teamTypeSports">
      <id column="spt_clsf_id" property="teamSportsTypeId" />
      <result column="spt_clsf_name" property="teamSportsType" />
    </association>

    <association property="teamMember" javaType="TeamMember">
      <id column="tm_mbr_id" property="teamMemberNo" />
    </association>

    <association property="member" javaType="Member">
      <id column="mbr_id" property="no" />
      <result column="user_id" property="id" />
    </association>
  </resultMap>
  
  
  <resultMap type="teamMember" id="team2">
    <id column="tm_mbr_id" property="teamMemberNo" />
    <result column="mbr_id" property="memberNo" />
    <result column="tlead_wth" property="teamLeader" />
  </resultMap>
  
<!--    
    <collection property="teamMember" ofType="TeamMember">
      <id column="tm_mbr_id" property="teamMemberNo" />
    <result column="mbr_id" property="memberNo" />
    <result column="tlead_wth" property="teamLeader" />
    </collection>
   -->
    <select id="findAll3" resultMap="memberMap" parameterType="map">
    select
    tmbr.mbr_id,
    user_id,
    tlead_wth
    from
    mbr m
    left outer join tm_mbr tmbr on m.mbr_id = tmbr.mbr_id
  </select>
  

  <select id="findAll" resultMap="teamRecruitMap" >
    select
    rcrm_id,
    titl,
    area,
    r.cdt,
    rcrm_stat,
    vw_cnt,
    s.spt_clsf_id,
    spt_clsf_name,
    t.tm_id,
    t.name,
    tmbr.mbr_id,
    user_id,
    tlead_wth
    from
    rcrm r
    left outer join tm t on r.tm_id = t.tm_id
    left outer join spt_clsf s on s.spt_clsf_id = t.spt_clsf_id
    left outer join tm_mbr tmbr on t.tm_id = tmbr.tm_mbr_id
    left outer join mbr m on tmbr.mbr_id = m.mbr_id
    order by rcrm_id
    desc
  </select>


  <select id="findByNo2" resultMap="team" parameterType="int">
    select
    tm.mbr_id,
    t.tm_id,
    spt_clsf_name,
    t.name
    from
    tm t
    left outer join spt_clsf s on s.spt_clsf_id = t.spt_clsf_id
    left outer join tm_mbr tm on tm.tm_mbr_id = t.tm_id
    left outer join mbr m on m.mbr_id = tm.mbr_id
    where
    tm.mbr_id = #{value};

  </select>
  
  <select id="findByNo3" resultMap="team2" parameterType="int">
  select
    mbr_id,
    tlead_wth
   from
     tm_mbr
   where
    tm_mbr_id = #{value};
  </select>
  

  <select id="findByNo" resultMap="teamRecruitMap" parameterType="int">
    select
    r.rcrm_id,
    r.tm_id,
    titl,
    area,
    cont,
    name,
    rcrm_stat,
    r.cdt,
    vw_cnt,
    spt_clsf_name
    from
    rcrm r
    left outer join tm t on r.tm_id = t.tm_id
    left
    outer join spt_clsf s on s.spt_clsf_id =
    t.spt_clsf_id
    where
    r.rcrm_id = #{teamNo};

  </select>

  <select id="findByKeyword" resultMap="teamRecruitMap" parameterType="string">
    <bind name="pattern1" value="'%' + _parameter + '%'" />
    select
    rcrm_id,
    titl,
    area,
    name,
    r.cdt,
    rcrm_stat,
    vw_cnt,
    spt_clsf_name
    from
    rcrm r
    left outer join tm t
    on r.tm_id = t.tm_id
    left outer join spt_clsf s on s.spt_clsf_id =
    t.spt_clsf_id
    where
    titl like
    #{pattern1}
    order by rcrm_id
    desc
  </select>

  <insert id="insert" parameterType="teamRecruit" useGeneratedKeys="true" keyColumn="rcrm_id"
    keyProperty="teamNo">
    insert into rcrm(
    titl,
    cont,
    tm_id
    )
    values(
    #{teamTitle},
    #{teamContents},
    #{teamId})
  </insert>



  <update id="increaseCount" parameterType="int">
    update rcrm
    set
    vw_cnt = vw_cnt + 1
    where rcrm_id =
    #{teamNo};
  </update>
  <delete id="delete" parameterType="int">
    delete from
    rcrm
    where rcrm_id = #{teamNo};
  </delete>

  <select id="detailUpdate" resultMap="teamRecruitMap" parameterType="int">
    select
    r.rcrm_id,
    titl,
    area,
    cont,
    name,
    rcrm_stat,
    vw_cnt,
    spt_clsf_name
    from
    rcrm r
    left outer join tm t on r.tm_id = t.tm_id
    left outer join spt_clsf s on s.spt_clsf_id = t.spt_clsf_id
    where
    r.rcrm_id = #{teamNo};
  </select>

  <update id="update" parameterType="teamRecruit">
    update
    rcrm
    set
    titl = #{teamTitle},
    cont = #{teamContents}
    where
    rcrm_id = #{teamNo};
  </update>

  <select id="countAll" resultType="int">
    select count(*) from rcrm;
  </select>

</mapper>