@charset "UTF-8";

body {
}

.freeList {
	text-align: center;
}

div.container {
  height: 100px;
  width: 800px;
}

#title {
	font-size: 40px;
}

.btns {
	"text-align: center"
}

.btns2 {
	position: absolute; 
	left: 0; 
	right: 0;
}


.freeInfo {
	margin-left: 600px; 
	font-size: 12px
}

#searchspace {
	margin: 0px 0px 0px 50px;
  padding-left: 60px;
}

#free-title {
	width:"300px"
}

.col-sm-5 {
  height: 77px;
  padding: 0px 5px 0px 10px;
}

#free-title{
	 width: 300px;
}

.form-inline my-2 my-lg-0 justify-content {
  padding: 0px 200px 20px 0px;
}

#detail_contents {
  text-align: center;
}
