#main-textfield{
    position: relative;
    top: -150px;
    color: white;
}

#main-text {
  position: relative;
  text-align: center;
  width: 100%;
  height: 230px;
  border-bottom: 2px solid black;
}
              