@charset "UTF-8";

.terms_p {
	width: 600px
}
.input_chk {
  position: relative; 
  box-sizing: border-box;
  display: block;
}
.input_chk input {
  position: absolute;
}
.terms_bx_list .terms_bx:first-child .input_chk:first-child {
	border-top: 1px solid #dadada;
	padding-top: 18px
}
.terms_bx .input_chk label {
  background-color: #fff;
  padding-left: 30px;
  line-height: 22px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.terms_chk_all .input_chk label:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 1px;
  width: 24px;
  height: 24px;
  margin-top: -14px;
  background: #ffffff url(../images/check.png) no-repeat 0 0;
  background-size: 24px 24px;
}
.input_chk input:focus+label {
  outline: dotted thin;
}
.input_chk label:before{
  content: '';
  position: absolute;
  top: 47%;
  left: 1px;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #ffffff url(../images/check.png) no-repeat 0 0;
  background-size: 20px 20px
}
#termsSms {
  position: absolute;
  top: 45%;
  left: 278px;
  display: block;
}
.terms_bx_list .terms_bx:nth-child(5) .input_chk:nth-child(2) label:nth-child(4) {
  position: absolute;
  top: 24%;
  left: 268px;
  display: block;
}
.terms_bx_list .terms_bx:nth-child(5) .input_chk:nth-child(2) {
  background: url(../images/vertical-line.png) 50% center no-repeat;
  background-size: 15px 60px;
  background-color: #ffffff;
}
.terms_bx .input_chk input:checked+label:before{
  content: '';
  background: #ffffff url(../images/checked.png) no-repeat 0 0;
  background-size: 20px 20px
}
.terms_chk_all .input_chk input:checked+label:before{
  content:'';
  background:#ffffff url(../images/checked.png) no-repeat 0 0;
  background-size:24px 24px
}
li .input_chk {
  border:1px solid #dadada;
  border-top: 0;
  background-color: white;
  padding: 12px 8px 8px 8px;
  font-size: 12px
}
.input_chk input {
  position: absolute; 
  left: 18px; 
  top: 45%
}
.terms_chk_all > .input_chk {
  width: 900px;
  height: 50px
}
.input_chk label .terms_necessary {
  font-size: 11px;
  font-weight: 400;
  color: #08a600
}
.input_chk label .terms_choice {
  font-size: 11px;
  font-weight: 400;
  color: rgb(170, 170, 170)
}
.terms_bx_list {
  margin-top: 10px;
  text-align: left;
  padding: 0 40px
}
.terms_bx {
  display:block
}
.collapsing {
	max-height: 140px;
	overflow-y: auto
}
.terms_box {
  position: relative;
  overflow: auto;
  height: 140px;
  padding: 12px;
  border: 1px solid #dadada;
  border-top: 0;
  background: #fff;
  box-sizing: border-box;
  scrollbar-base-color: #d9d9d9;
  scrollbar-arrow-color: #8e8e8e;
  scrollbar-3dlight-color: #d9d9d9;
  scrollbar-darkshadow-color: #d9d9d9;
  scrollbar-face-color: #d9d9d9;
  scrollbar-highlight-color: #d9d9d9;
  scrollbar-shadow-color: #d9d9d9;
  scrollbar-track-color: #f2f2f2;
  -webkit-overflow-scrolling: touch
}
.terms_box::-webkit-scrollbar{
  overflow: hidden;
  width: 6px;
  margin-right: 10px;
  background: 0 0
}
.terms_box::-webkit-scrollbar-thumb{
  min-height: 20px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  background-color: rgba(45,70,97,.3);
}
.terms_box::-webkit-scrollbar-thumb:hover{
  background-color: rgba(45,70,97,.3);
}
.terms_box::-webkit-scrollbar-corner{
  background: 0 0;
}
.terms_box .article{
  font-size: 12px;
  line-height: 16px;
  color: #666;
}
.article{
  margin-top: 15px;
}
.article .article_title{
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
}
.article_text+.article_text{
  margin-top: 8px;
}
.article:first-child{
  margin-top: 0;
}
.terms_bx input[type=checkbox] {
	width: 1px;
  height: 1px
}
.chk_all_txt {
	font-size: 18px
}
.termsBtn {
	position: absolute;
	top: 8px;
	right: 8px
}

