@charset "UTF-8";

body {
  font-size: small; 
}

div.container {
  height: 100px;
  width: 800px;
}


h3 {
	margin: 30px 0px 45px 20px;
	text-decoration: underline;
}


p {
  text-align: right;
  margin: 0px;
}

#searchspace {
	margin: 0px 0px 0px 50px;
    padding-left: 60px;
}

#inputGroupSelect01 {
	margin: 22px 15px 0px 0px;
	font-size: small; 
}

#inputGroupSelect02 {
	margin: 22px 0px 0px -15px;
	font-size: small; 
}

.input-group mb-2 {
	padding-top: 15px;
}

#free-title {
	width:"300px"
}

.col-sm-5 {
    height: 77px;
    padding: 0px 5px 0px 10px;
}

.form-inline my-2 my-lg-0 justify-content {
	padding: 0px 200px 20px 0px;
}
