@charset "UTF-8";
 
.cmtform {
	width:900px; 
}

.comment-form{
	width:650px;   
	resize: none;
} 
 
.comment-list {
	text-align: left;
}

.cmtlist {
	left: 0px; 
	position: absolute;
}
 
#counter {
  background:black;
  color:white; 
  border-radius: 0.5em;
  padding: 0 .5em 0 .5em;
  font-size: 0.75em;
} 

.counter2 {
  background:black;
  color:white; 
  border-radius: 0.5em;
  padding: 0 .5em 0 .5em;
  font-size: 0.75em;
} 

