@charset "UTF-8";

body {
  font-size: small;
}

h1 {
  /* border: 1px solid red; */
  /* text-align: center; */
}

div.bit-list {
  min-height: 200px;
}
#bit-login-state {
  margin: 0px 10px;
}

/* 경계-민철-경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철경계-민철 */

* {
  margin: 0px;
  padding: 0px;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Jua', sans-serif;
}

#main-wrap{
	width:1080px;
}

#main-wrap input{
	box-shadow: 0 0;
}
#main-wrap select{
  box-shadow: 0 0;
}
#main-wrap textarea{
  box-shadow: 0 0;
}
#main-text{
	position: relative;
    text-align: center;
    width: 100%;
    height: 230px;
    border-bottom: 2px solid black;
}

#main-text h2 {
  position: absolute;
  text-align: left;
  bottom: 0;
}

#main-text h2 img {
  margin-bottom: 25px;
  margin-right: 5px;
}