@charset "UTF-8";

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul, hr {
  margin: 0;
  padding: 0;
} 
button,select,textarea {
  border:0;
  border-radius:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none
}
#container {
  text-align: center;
  margin: 90px auto 0 auto;
  width: 1000px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
#content{
  width: 1000px;
  margin: 0 auto;
}
#findPwdBox {
	margin: 0 100px;
	width: 800px
}
#findPwdImgBox {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    background-color: rgb(220, 220, 220);
    border: hidden 1px white;
    border-radius: 100px;
}
#findPwdImgBox > img {
  width: 100px;
  height: 100px;
  margin: 28px 0;
}
#findPwdComment {
  margin-top: 50px;
  font-size: 35px
}
#findPwdAuthComment {
	margin: 40px 0 60px 0;
	font-size: 25px
}
.hrblack {
  border: 0;
  height: 2px;
  background-color: black;
}
.hrSlim {
  border: 0;
  height: 1px;
  background-color: black;
}
#findPwdAuth {
	margin: 50px 0
}
#findPwdAuth a {
	border-radius: 0;
}
#findPwdAuthBtn {
  width: 150px;
  height: 51px;
	border: solid 1px black;
	background-color: #fff;
	border-radius: 0;
	color: black
}
.join_row .green{
  color:#08A600
}
.join_title {
  margin:19px 0 8px;
  font-size:14px;
  font-weight:700
}
.ps_box.focus {
	border:solid 1px #08a600
}
.ps_box {
	padding:11px
}
.ps_box+.ps_box {
  margin-top:10px
}
.ps_box,.ps_box_disable {
  display:block;
  position:relative;
  width:100%;
  height:51px;
  border:solid 1px #dadada;
  padding:10px 14px 10px 14px;
  background:#fff;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.ps_box.int_pass,.ps_box.int_pass_check,.ps_box.int_pass_check2,.ps_box.box_right_space {
  padding-right:50px
}
.ps_box.int_pass:after,.ps_box.int_pass_check2:after,.ps_box.int_pass_check:after {
  content:'';
  display:inline-block;
  position:absolute;
  top:50%;
  right:10px;
  margin-top:-16px;
  cursor:pointer
}
.ps_box.int_pass:after {
  width: 30px; 
  height: 30px;
  background:#fff url(../images/write.png) no-repeat center center
}
.ps_box.int_pass_check:after {
  width: 30px; 
  height: 30px;
  background:#fff url(../images/ok.png) no-repeat center center
}
.ps_box.int_pass_check2:after {
  width: 30px; 
  height: 30px;
  background:#fff url(../images/error.png) no-repeat center center
}
.ps_box.accord {
  padding-right:50px;
  border:solid 1px #08a600
}
.ps_box.discord{
  padding-right:50px;
  border:solid 1px red
}
#joinCode, #authNoBox {
  display: inline-block;
  width: 280px
}
.int {
  display:block;
  position:relative;
  width:100%;
  height:29px;
  line-height:29px;
  border:none;
  background:#fff;
  font-size:15px;
  box-sizing:border-box
}
#authSend, #btnSend {
  border: solid 1px #6c757d;
  background-color: #fff;
  color: #212529;
  margin: 0 0 0 15px;
  position: relative;
  border-radius: 0;
  outline: 0
}
.emailBtn {
  display: inline-block;
  height: 51px;
  width: 100px
}
.error_next_box{
	display:block;
	margin:9px 0 -2px;
	font-size:12px;
	line-height:14px;
  color:red;
  width: 400px;
  font-family: Dotum,'돋움',Helvetica,sans-serif
}
.join_authNo_confirm {
  margin: 10px 0 8px
}
#btnJoin {
  width: 200px;
  height: 51px;
  border: solid 1px black;
  border-radius: 0;
  background-color: #fff;
  color: black
}
#findPwdDiv {
	width: 400px;
	margin: 0 200px
}
#id {
  /* text-align: center */
}
#mainBtn, #loginBtn {
  width: 190px;
  height: 51px;
  border: solid 1px black;
  border-radius: 0;
  margin-top: 25px;
  background-color: #fff;
  color: black
}
#mainBtn {
  margin-right: 15px
}