@charset "UTF-8";

h2 {
  text-align: center;
}

#subtable td {
  padding: 0.35rem;
}

p {
  text-align: center;
}

div.button1 {
width: 200px;  
position: absolute; 
left: 55%; 
}

div.button2 {
width: 100px;  
rigth: 10%; 
}

#match_table {
  width: 90%;
  height: 50%;
}

#sub_title {
  color: white;
}

#sub1 {
  color: white;
}
 
.container {
  position: absolute;
  top: 600px;
  width: 100%;
  left: 0px;
  right: 0px;
} 

#content {
   width: 600px;
   padding: 20px;
   margin-bottom: 20px;
   float: left;
}

#match_content {
    
}

#subtable {
  text-align: center;
  height :300px;
}

#subtitle {
}

#matchform {
  height:150px;
}

#embloc {
  margin: 20px;
}



 #sidebar-right {
  background-color: black;
  font-size: 1.2em;
  color: white;
  width: 180px;
  height: 480px; 
  margin-left: 710px; 
  overflow:auto; 
  position: absolute; 
  font-size: 15px;
}

 #sidebar2-right {
  background-color: silver;
  font-size: 1.2em;
  color: black;
  width: 180px;
  height: 180px; 
  margin-left: 710px;
  min-height: 550px;
  position: absolute; 
}


#ground_title {
  background-color: black; 
  color: white;
}



#side_title {
  margin-left: 710px;
  margin-bottom: 0;
  font-size: 30px;
  color: white;
  width: 165px;
}

#side_team {
  color: white;
  border: 3px soild black;
}



