
#topComment {
  text-align: center;
  margin-top: 90px;
}
.teamInfo {
  width: 120px;
}

#control-box {
  text-align: center;
  padding-left: 0px;
}
/**
 * demo styles 
 */

h1{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 22px;
    color: #212529;
}

/* h2{
  text-align: center;
    color: #212529;
} */


a{
    color: #212529;
}

a:hover{
  text-decoration: none;
}


#floatfloat{
  float:left;
  padding-left: 30px;
  width: 500px;
}

 #formform{
  width: 1080px;
  height: 1000px;
  margin-left: 100px;
  margin-right: 30px;
  margin-top:120px;
} 

#listtitle{
  float:left;
  text-align:center;
  width: 550px;
  height: 42px;
  font-size: 21px;
  border-radius: 2px;
  margin-top: 28px;
  padding-top: 6px;
  border: 2px solid #dfdfdf;
  background-color: #dde0db;
}

#list{
  width: 530px;
  margin-left: 10px;
  border-radius: 2px;
  border: 2px solid #dfdfdf;
  border-top: 0px;
  margin-bottom: 28px;
  padding-left: 13px;
  height: 878px;
  background-color: #eeeee9;
  float: left;
  
}


[data-jplist-group]{
    width: 500px;
    display: flex;
    font-size: 16px;
    flex-wrap: nowrap;
    flex-direction: column;
    box-sizing: border-box;
}

[data-jplist-item]{
  width: 500px;
  height: 140px;
  border-bottom: 1px solid #dee2e6;
  /* text-align: center; */
  overflow: hidden; 
  margin-top: 5px;
  padding-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#content {
  text-align:center;
}

#allbtn1 {
  width: 165px;
  margin-bottom: 6px;
  margin-left: 44px;
  margin-top: 10px;
  height: 32px;
}

#allbtn2 {
  width: 250px;
  margin-bottom: 6px;
  padding-top: 3px;
  height: 32px;
}

.teamName{
  max-width: 100px;
  display:inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
}

.title {
    max-width: 140px;
    display:inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#searchArea {
  width: 1080px;
  height: 140px;
  border-top: 2px solid #000000;
  padding-top: 10px;
}

#toolsss{
  height: 165px;
  padding-top: 20px;
  margin-bottom: 47px;
}

#allTypes{
  margin-left: 70px;
  margin-bottom: 2px;
  display:inline-block;
}

#allLevel{
  margin-right: 40px;
  display:inline-block;
}

#inputBox2{
  display:inline-block;
}

.md-form{
  margin: 0;
}

#name-clear-btn1 {
  margin-left: 9px;
  padding-top: 4px;
  width: 78px;
}
#name-clear-btn2 {
  margin-left: 9px;
  padding-top: 4px;
  width: 78px;
}
#name-clear-btn3 {
  margin-left: 8px;
  padding-top: 4px;
  width: 78px;
}

#titleSearchBox {
  width:180px;
  display:inline-block;
}

#teamSearchBox {
  width:180px;
  margin-left: 12px;
  display:inline-block;
}

#datepicker{
  width:180px;
  margin-left: 12px;
}

#liner{
  border-top: 1px solid #d3d7cf;
  width: 190px;
  height: 25px;
}

#spaceArea{
  height: 30px;
}


#submitFormArea{
  height: 36px;
}


#matchform{
  width: 500px;
  height: 36px;
  margin-left: 155px;
  font-size:19px;
  border:0px;
  /* background: deepskyblue; */
  /* background:#ae0015; */
/*   color: white; */
/*   
  background: rgb(0,0,0); Old browsers
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 7%, rgba(255,40,44,1) 27%, rgba(255,45,49,1) 44%, rgba(255,180,145,1) 64%, rgba(226,255,12,1) 78%, rgba(255,180,145,1) 87%, rgba(255,0,4,1) 100%); FF3.6-15
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 7%,rgba(255,40,44,1) 27%,rgba(255,45,49,1) 44%,rgba(255,180,145,1) 64%,rgba(226,255,12,1) 78%,rgba(255,180,145,1) 87%,rgba(255,0,4,1) 100%); Chrome10-25,Safari5.1-6
  background: linear-gradient(135deg, rgba(0,0,0,1) 7%,rgba(255,40,44,1) 27%,rgba(255,45,49,1) 44%,rgba(255,180,145,1) 64%,rgba(226,255,12,1) 78%,rgba(255,180,145,1) 87%,rgba(255,0,4,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ff0004',GradientType=1 ); IE6-9 fallback on horizontal gradient
   */
}


#matchInfo{
  margin-bottom: 0px;
  background-color: #ffffff;
}

.controls{
    display: flex;
    justify-content: center;
    text-align:center;
    width: 810px;
    float: left;
    margin-bottom: 70px;
}

#imgcontro1{
  position: relative;
  right: 5px;
}
#imgcontro2{
  position: relative;
  right: 5px;
}
#imgcontro3{
  position: relative;
  right: 4px;
}
#imgcontro4{
  position: relative;
  right: 4px;
}

#sstypeArea{
  width: 250px;
  text-align: center;
  margin-top: 7px;
  margin-left: 2px;
}

#stype{
  border: 1px solid #ffffff;
  width: 40px;
  border-radius: 120px;
}

#levelArea{
  text-align: center;
  padding-left: 3px;
}

#levelbtn1{
  margin-left: 4px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width:65px; height:30px; 
    padding-top: 2px;
    padding-left: 24px;
    padding-right: 33px;
    border-width: 0px;
    color:#343434;
    background-color: #e4e4e4;
}
#levelbtn2{
  margin-left: 4px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width:65px; height:30px; 
    padding-top: 2px;
    padding-left: 24px;
    padding-right: 33px;
    border-width: 0px;
    color:#343434;
    background-color: #e4e4e4;
}
#levelbtn3{
  margin-left: 4px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  width:65px; height:30px; 
    padding-top: 2px;
    padding-left: 24px;
    padding-right: 33px;
    border-width: 0px;
    color:#343434;
    background-color: #e4e4e4;
}
#subArea{
  text-align: center;
}

#noresul{
  padding-left: 32px;
}

button{
  color: #fff;
  background-color: #a7a7a7;
  display: inline-block;
  border: 2px solid;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .2rem .6rem;
  font-size: 1rem;
  line-height: 1.5;
}

#firstbtn{
  border: 1px solid #a3a3a3;
}

#prebtn{
  border: 1px solid #a3a3a3;
}

#selectbtn{
  border: 1px solid #a3a3a3;
}

#nextbtn{
  border: 1px solid #a3a3a3;
}

#lastbtn{
  border: 1px solid #a3a3a3;
}

.jplist-selected{
  background-color: #dcdcdc;
}


.modal-footer{
  height: 120px;
}

.modal-footer-inside-control{
    position: absolute;
    left: 15px;
    margin-right: 5px;
    top: 290px;
}
.modal-footer-inside{
}

#mtaply{
  display:inline
}

#footerchain{
}

#myteamtext{
  padding-top: 12px;
}

#selectBox{
  width:120px;
}

#btnsub2 {
  float:right;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 10px;
}




[data-jplist-control="no-results"]{
  padding: 20px 0;
  witth: 400px;
  text-align:center;
  color: #3e6894;
}



#ajteamname{
  text-align: center;
}

#exampleModalCenterTitle{
  text-align:center;
  margin-left: 45px;
}


.close{
  margin-left: 0px;
}






/* 테스트구간 */
/* 테스트구간 끝 */







/**
 * slider styles
 */
/* [data-jplist-control="slider-range-filter"]{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    text-align:center;
    width: 100%;
}

.range-slider-value{
    width: 100px;
    box-sizing: border-box;
    padding: 0 5px;
}

.jplist-slider {
    width: 100%;
    height: 20px;
    background-color: #fff;
    margin: 15px;
    margin: 15px;
    border-radius: .25rem;
    position: relative;
    box-sizing: border-box;
}

.jplist-slider::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0;
}

.jplist-slider-holder-1,
.jplist-slider-holder-2 {
    width: 20px;
    height: 100%;
    border-radius: .25rem;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
    z-index: 200;
    transition: 0.3s background-color;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}



.jplist-slider-range {
    width: 0;
    height: 20px;
    background: #ccc;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}

.jplist-slider-values{
  width: 100%;
}

[data-type="value-1"],
[data-type="value-2"]{
  color: #e83e8c;
} */
