
#topComment {
  text-align: center;
  margin-top: 90px;
}
.teamInfo {
  width: 120px;
}

#control-box {
  text-align: center;
  padding-left: 0px;
}
/**
 * demo styles 
 */

h1{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 22px;
    color: #212529;
}

h2{
  text-align: center;
    font-size: 14px;
    color: #212529;
}


a{
    color: #212529;
}

a:hover{
  text-decoration: none;
}

.modal-body {
  text-align:left;
}

#submitArea{
  margin-top: 30px;
}
#floatfloat{
  float:left;
  width: 500px;
}

 #formform{
  width: 1080px;
  height: 1000px;
  margin-left: 85px;
  margin-right: 30px;
  margin-top:120px;
} 

#listtitle{
  float:left;
  text-align:center;
  width: 550px;
  height: 42px;
  font-size: 21px;
  border-radius: 2px;
  margin-top: 28px;
  padding-top: 6px;
  border: 2px solid #dfdfdf;
  background-color: #d0d0c9;
}

#list{
  width: 530px;
  margin-left: 10px;
  border-radius: 2px;
  border: 2px solid #dfdfdf;
  border-top: 0px;
  margin-bottom: 28px;
  padding-left: 13px;
  height: 878px;
  background-color: #eeeee9;
  float: left;
  
}

.detail{
  padding-top: 6px;
}

[data-jplist-group]{
    width: 500px;
    display: flex;
    font-size: 16px;
    flex-wrap: nowrap;
    flex-direction: column;
    box-sizing: border-box;
}

[data-jplist-item]{
  width: 500px;
  height: 140px;
  border-bottom: 1px solid #dee2e6;
  /* text-align: center; */
  overflow: hidden; 
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#content {
  text-align:center;
}

#allbtn {
  width: 250px;
  margin-bottom: 6px;
  padding-top: 3px;
  height: 32px;
}

.teamName{
  max-width: 100px;
  display:inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title {
    max-width: 150px;
    display:inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#searchArea {
  width: 1080px;
  height: 90px;
  border-top: 2px solid #000000;
  padding-top: 40px;
}

#tools{
  height: 80px;
}

#allTypes{
  margin-left: 70px;
  margin-right: 40px;
  display:inline-block;
}

#allLevel{
  margin-right: 40px;
  display:inline-block;
}

#inputBox2{
  display:inline-block;
}

#name-clear-btn {
  margin-left: 4px;
  padding-top: 4px;
  width:100px;
  height: 55px;
}

#titleSearchBox {
  width:180px;
  display:inline-block;
  
}

#datepicker{
  width:180px;
  padding-right: 9px;
}

#liner{
  border-top: 1px solid #d3d7cf;
  width: 190px;
  height: 25px;
}

#submitFormArea{
  height: 36px;
}


#matchform{
  width: 500px;
  height: 36px;
  margin-top: 30px;
  margin-left: 105px;
  background-color: #def1f7;
  border: 3px solid #eefaff;
  color:black;
}


#matchInfo{
  margin-bottom: 0px;
  background-color: #ffffff;
}

.controls{
    display: flex;
    justify-content: center;
    text-align:center;
    width: 735px;
    float: left;
    margin-bottom: 70px;
}

#imgcontro{
  padding-bottom: 5px;
}

#sstypeArea{
  width:250px;
  text-align:center;
}

#stype{
  padding-left: 4px;
  height: 12px;
  width: 20px;  
}

#levelArea{
  text-align:center;
}

#levelbtn1{
  margin-top: 6px;
  margin-left: 2px;
  border-radius: 0px;
  width:32px; height:30px; 
    padding-top: 3px;
    padding-left: 18px;
    padding-right: 33px;
    border-width: 0px;
    color:#343434;
    background-color: #ffcece;
}
#levelbtn2{
  margin-top: 6px;
  margin-left: 2px;
  border-radius: 0px;
  width:32px; height:30px; 
    padding-top: 3px;
    padding-left: 18px;
    padding-right: 33px;
    border-width: 0px;
    color:#343434;
    background-color: #c7ffae;
}
#levelbtn3{
  margin-top: 6px;
  margin-left: 2px;
  border-radius: 0px;
  width:32px; height:30px; 
    padding-top: 3px;
    padding-left: 18px;
    padding-right: 33px;
    border-width: 0px;
    color:#343434;
    background-color: #d5cfd8;
}
#subArea{
  text-align: center;
}

#noresul{
  padding-left: 32px;
}

button{
  color: #fff;
  background-color: #9b9b9b;
  display: inline-block;
  border: 3px solid;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .2rem .6rem;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 3px;
}

#firstbtn{
  border: 1px solid #a3a3a3;
}

#prebtn{
  border: 1px solid #a3a3a3;
}

#selectbtn{
  border: 1px solid #a3a3a3;
}

#nextbtn{
  border: 1px solid #a3a3a3;
}

#lastbtn{
  border: 1px solid #a3a3a3;
}

.jplist-selected{
  background-color: #d3d3d3;
}

#modalbody {
  width: 500px;
  height: 180px;
}

#modal-footer{
  height: 120px;
}

.modal-footer-inside-control{
    position: absolute;
    left: 15px;
    margin-right: 5px;
    top: 290px;
}

.modal-footer-inside{
}

#btnsub2 {
  margin-top: 3px;
  margin-left: 19px;
}

[data-jplist-control="no-results"]{
  padding: 20px 0;
  witth: 400px;
  text-align:center;
  color: #3e6894;
}



#ajteamname{
  text-align: center;
}

#exampleModalCenterTitle{
  text-align:center;
  margin-left: 35px;
}


.close{
  margin-left: 0px;
}






/* 테스트구간 */
/* 테스트구간 끝 */







/**
 * slider styles
 */
/* [data-jplist-control="slider-range-filter"]{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    text-align:center;
    width: 100%;
}

.range-slider-value{
    width: 100px;
    box-sizing: border-box;
    padding: 0 5px;
}

.jplist-slider {
    width: 100%;
    height: 20px;
    background-color: #fff;
    margin: 15px;
    margin: 15px;
    border-radius: .25rem;
    position: relative;
    box-sizing: border-box;
}

.jplist-slider::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0;
}

.jplist-slider-holder-1,
.jplist-slider-holder-2 {
    width: 20px;
    height: 100%;
    border-radius: .25rem;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
    z-index: 200;
    transition: 0.3s background-color;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}



.jplist-slider-range {
    width: 0;
    height: 20px;
    background: #ccc;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}

.jplist-slider-values{
  width: 100%;
}

[data-type="value-1"],
[data-type="value-2"]{
  color: #e83e8c;
} */
