.recommendDiv {
/*  position: fixed;
    right: 135px; */
}     
.recommendTable {
	width: 257px;
  font-size: 16px;
	border: 1px solid black;
}
.recommendTh {
    padding-top: 5px;
	text-align: center;
	border: 3px solid red;
	background-color: red;
	color:white;
}

#noSuggestion{
  text-align: center;
}

#loginsugge{
  text-align: center;  
}

.recommendTd {
	width: 70px;
	padding: 10px;
	vertical-align: top;
	background-color: rgb(64, 64, 64);
}
.recommendTeamLevel{
  float:right;
  margin-left: 6px;
  margin-top: 6px;
  height:20px;
  border-radius: 30px;
}

.recommendTeamEmblem {
  float: left;
}
.recommendSportsType{
  margin-left: 10px;
  float:left;
}

#teamNameText{
  margin-bottom: 0px;
  font-size: 24px;
}
#levels{
  float:right;
  border-left : 2px solid #555753;
  border-bottom : 2px solid #555753;
}
.recommendArea{
  float:left;
  text-align:center;
}
#jumjum{
  margin-bottom: 10px;
}

.recommendPlayDate {
    background-color: rgb(94, 94, 94);
    color: white;
    text-align: center;
    margin-left: 4px;
}
.recommendBox {
  float: left;
  border : 1px solid #dee2e6;
  border-top-width: 0px;
  background-color: white;
  width: 229px;
  margin-left: 4px;
  
}
.recommendTeamEmblemPhoto {
  float: left;
	width: 50px;
	height: 50px;
	margin-top: 8px;
	margin-left: 8px;
    margin-right: 5px;
}

#sidbarSubmit{
  float:left;
  text-align:center;
  width:228px;
  height: 30px;
  padding-top: 5px;
  background-color: #d3d7cf;
}


#EEE{
  margin-left: 30px;
}

.recommendTeamInfo {
	margin-left: 5px;
	display: inline;
	overflow: hidden;
	width: 70px
}