* {
	margin: 0px;
	padding: 0px;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

}

.container {
	width:100%;
	height: 100%;
	margin: 0px;
  padding: 0px;
	
}

#main-text {
	position: relative;
	text-align: center;
	width: 100%;
	height: 230px;
}

#main-text>h2 {
	position: relative;
	top: 90px;
	color: black;
}

#recruit-list-out {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	border-top: 2px solid black;
	height: 700px;
}

.search-form{
	display: inline-block;
}



#inputGroupSelect01 {
	position: absolute;
	width: 150px;
}

.table {
	width: 1000px;
	margin: auto;
}

table a {
	color: black;
}

table a:hover {
	color: black;
}

#in {
	width: 100%;
	margin-top: 20px;
}