@charset "UTF-8";

body {
  font-size: small; 
}

h2 {
 /* height: 30px; */
  /* border: 1px solid red; */ 
   text-align: center; 
}

.button2 {
   margin: 90px 0px 0px 200px;
   width: 50%;
   text-align: center; 
}

.button3 {
   margin: 0px 0px 90px 200px;
   width: 50%;
   text-align: center;
}

.button3 .btn {
   background: #FE2E2E;
   border: 1px solid #d3d7cf;
  }

.button3 .btn:hover {
   background: #d3d7cf;
   border: 1px solid #d3d7cf;
  }

.button3 .btn:active {
   background: #d3d7cf;
   border: 1px solid #FE2E2E;
  }


div.container {
  height: 100px;
  width: 800px;
  text-content: center;
}

#id_loc {
  width: 150px;
  background:#ffff88; 
  color:#3b3b3b;
}

#head {
  text-align: center;
}

#titlabel {
  margin: 5px 0px 0px 0px;
  text-align: center;
}

#cntlabel {
  margin: 50px 0px 0px 0px;
  text-align: center;
}


#contentsBox {
	width: 500px;
	background:#D8F6CE;
}

.col-sm-2 col-form-label {
  text-content: center;
}

