@charset "UTF-8";

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul, hr {
  margin: 0;
  padding: 0;
} 
body,html {
	width: 100%;
	height: 100%;
}
#container {
  text-align: center;
  margin: 90px auto 0 auto;
  width: 1000px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.join_content{
  width: 900px;
  margin: 0 auto;
}
.join_step{
	margin-top: 20px;
	margin-bottom: 60px;
}
#content > h1 {
  font-size: 30px;
}
#join_form {
  margin-top: 50px;
}
.input_chk {
  position: relative; 
  box-sizing: border-box;
  display: block;
}
.input_chk input {
  position: absolute;
}
.terms_chk_all{
	position: relative;
}
.terms_chk_all .input_chk label {
  background-color: #fff;
  padding-left: 34px;
  line-height: 21px;
  position: relative;
  font-size: 16px; /* 운영체제마다 폰트가 달라서 에러 날 수도 있음.*/
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
}
.terms_bx .input_chk label {
  background-color: #fff;
  padding-left: 30px;
  line-height: 21px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.terms_chk_all .input_chk label:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 1px;
  width: 24px;
  height: 24px;
  margin-top: -14px;
  background: #ffffff url(../images/check.png) no-repeat 0 0;
  background-size: 24px 24px;
}
.input_chk input:focus+label {
  outline: dotted thin;
}
.input_chk label:before{
  content: '';
  position: absolute;
  top: 47%;
  left: 1px;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #ffffff url(../images/check.png) no-repeat 0 0;
  background-size: 20px 20px
}
.terms_bx_list .terms_bx:nth-child(4) .input_chk:nth-child(4) input:nth-child(3) {
  position: absolute;
  top: 35%;
  left: 420px;
  display: block;
}
.terms_bx_list .terms_bx:nth-child(4) .input_chk:nth-child(4) label:nth-child(4) {
  position: absolute;
  top: 30%;
  left: 416px;
  display: block;
}
.terms_bx_list .terms_bx:nth-child(4) .input_chk:nth-child(4) {
  background: url(../images/vertical-line.png) 50% center no-repeat;
  background-size: 15px 60px;
  background-color: #ffffff;
}
.terms_bx .input_chk input:checked+label:before{
  content: '';
  background: #ffffff url(../images/checked.png) no-repeat 0 0;
  background-size: 20px 20px
}
.terms_chk_all .input_chk input:checked+label:before{
  content:'';
  background:#ffffff url(../images/checked.png) no-repeat 0 0;
  background-size:24px 24px
}
li .input_chk {
  border:1px solid #dadada;
  border-top: 0;
  background-color: white;
  padding: 12px 8px 8px 8px;
  font-size: 14px;
}
.input_chk input {
  position: absolute; 
  left: 12px; 
  top: 30%;
}
.terms_chk_all > .input_chk {
  width: 900px;
  height: 50px;
}
.input_chk #chk_all { 
  position: absolute; 
  left: 26%; 
  top: 27%;
}
.input_chk label .terms_necessary {
  font-size: 12px;
  font-weight: 400;
  color: #08a600
}
.input_chk label .terms_choice {
  font-size: 12px;
  font-weight: 400;
  color: rgb(170, 170, 170);
}
.terms_bx_list {
  margin-top: 10px;
  background-color: rgb(240, 240, 240);
  text-align: left;
  padding: 0 40px;
}
.terms_bx {
  display:block;
  padding-top:40px;
}
.terms_bx_header {
  font-size: 25px;
  font-weight: 550;
}
.terms_box {
  margin-top: 20px;
  position: relative;
  overflow: auto;
  height: 240px;
  padding: 12px;
  border: 1px solid #dadada;
  background: #fff;
  box-sizing: border-box;
  scrollbar-base-color: #d9d9d9;
  scrollbar-arrow-color: #8e8e8e;
  scrollbar-3dlight-color: #d9d9d9;
  scrollbar-darkshadow-color: #d9d9d9;
  scrollbar-face-color: #d9d9d9;
  scrollbar-highlight-color: #d9d9d9;
  scrollbar-shadow-color: #d9d9d9;
  scrollbar-track-color: #f2f2f2;
  -webkit-overflow-scrolling: touch;
}
.terms_box::-webkit-scrollbar{
  overflow: visible;
  width: 6px;
  margin-right: 10px;
  background: 0 0;
}
.terms_box::-webkit-scrollbar-thumb{
  min-height: 20px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  background-color: rgba(45,70,97,.3);
}
.terms_box::-webkit-scrollbar-thumb:hover{
  background-color: rgba(45,70,97,.3);
}
.terms_box::-webkit-scrollbar-corner{
  background: 0 0;
}
.terms_box .article{
  font-size: 12px;
  line-height: 16px;
  color: #666;
}
.article{
  margin-top: 15px;
}
.article .article_title{
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
}
.article_text+.article_text{
  margin-top: 8px;
}
.article:first-child{
  margin-top: 0;
}
.hrblack {
  border: 0;
  height: 2px;
  background-color: black;
}
.sunext {
  margin-top: 20px;
  border-radius: 0;
  font-weight: bold;
}