.snsLoginBox {
	text-align: center
}
.snsLoginBtnBox {
  height: 35px;
  margin: 0 50px 24px 50px
}
.snsLoginHeading {
	margin: 0 0 15px 0
}
.snsBtn {
	display: inline-block;
  width: 35px;
  height: 35px;
  outline: 0;
  border: 1px solid #eee;
	border-radius: 5px
}
.snsLoginBtn {
	display: inline-block;
	height: 35px;
	margin: 5px;
}
.facebookBtn {
  background-color: #fff
}
#kakaoBtn:hover {
  cursor: pointer
}
#naverBtn:hover {
  cursor: pointer
}
#googleBtn:hover {
  cursor: pointer
}
#facebookBtn:hover {
  cursor: pointer
}