.snsLoginBoxAuth {
	text-align: center
}
.snsLoginBtnBoxAuth {
  height: 35px;
  margin: 0 50px 24px 50px
}
.snsLoginHeadingAuth {
	margin: 0 0 15px 0
}
.snsBtnAuth {
	display: inline-block;
  width: 35px;
  height: 35px;
  outline: 0;
  border: 1px solid #eee;
	border-radius: 5px
}
.snsLoginBtnAuth {
	display: inline-block;
	height: 35px;
	margin: 5px;
}
.facebookBtnAuth {
  background-color: #fff
}
#kakaoBtn:hover {
  cursor: pointer
}
#naverBtn:hover {
  cursor: pointer
}
#googleBtn:hover {
  cursor: pointer
}
#facebookBtn:hover {
  cursor: pointer
}
#kakaoBtnAuth:hover {
  cursor: pointer
}
#naverBtnAuth:hover {
  cursor: pointer
}
#googleBtnAuth:hover {
  cursor: pointer
}
#facebookBtnAuth:hover {
  cursor: pointer
}