@charset "UTF-8";

.team_list {
	display: inline-block; 
	width: 200px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
	overflow:auto; 

}
.team_ul {
	display: inline-block; 
  width: 200px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
    list-style:none;
    margin:0;
    padding:0;
}

team_ul li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}

.container {
  position: relative;
  width: 50%;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


label {
	font-weight: bold;
}

.scrollbar {
margin-left: 30px;
float: left;
height: 300px;
width: 65px;
background: #fff;
overflow-y: scroll;
margin-bottom: 25px;
}
.force-overflow {
min-height: 450px;
}
 
.scrollbar-primary::-webkit-scrollbar {
width: 6px; 
background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 2px;
-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1); 
background-color: black; }

.contents {
  width: 100%;
  position: relative;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 2em 0;
}

.shiny {
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 15px;
  width: 640px;
  height: 400px;
  padding: 15px;
  overflow:hidden;
}

.show-off {
  width: 405px;
  height: 605px;
  position: relative;
  top: -556px;
  left: -550px;
  transition: 1s;
  transform: rotate(30deg);
  background: linear-gradient(90deg, rgba(255,255,255, 0)50%, rgba(255,255,255,0.7)100%);
}

.shiny:hover .show-off {
  transform: rotate(0);
  left: 560px;
  top: -445px;
}
