@charset "UTF-8";
@charset "UTF-8";

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul, hr {
  margin: 0;
  padding: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset ;
    -webkit-text-fill-color: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
button,input,select,textarea {
  border:0;
  border-radius:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none
}
button {
  cursor:pointer
}
img {
  border:0
}
ul {
  list-style:none
}
body {
  position:relative;
  background:#f5f6f7
}
#container {
  text-align: center;
  margin: 90px auto 0 auto;
  width: 1000px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.join_title {
  margin:19px 0 8px;
  font-size:14px;
  font-weight:700
}
.join_content{
  width: 900px;
  margin: 0px 50px;
}
.join_step{
  margin-top: 20px;
  margin-bottom: 60px;
}
#content > h1 {
  font-size: 30px;
}
#join_form {
  margin-top: 50px;
}
.input_chk {
  position: relative;
  box-sizing: border-box;
  display: block;
}
.hrblack {
  border: 0;
  height: 2px;
  background-color: black;
}
.sunext {
  margin-top: 40px;
  border-radius: 0; 
  font-weight: bold;
}
.join_form {
  column-count: 2;
  column-gap: 100px;
  column-rule-color: black;
  column-rule-style: solid;
  column-rule-width: 1px;
  margin-top: 50px;
}
.join_form_left{
  height:1150px;
}
.join_form_right{
  height:1150px;
}
.terms_choice {
	margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(170, 170, 170);
}
.row_group {
  overflow:hidden;
  width:100%
}
.row_group+.row_group {
  margin-top:30px;
}
.join_row .green{
  color:#08A600
}
.bir_title {
  font-size:13px;
  display:table-cell;
  width:28px;
  padding:3px 12px 0 14px;
  table-layout:fixed;
  text-align:center;
  vertical-align:middle;
  color:#8e8e8e;
  border-right:1px solid #efefef;
  background:#f7f7f7;
  *display:block;
  *float:left;
  *height:50px;
  *line-height:50px
}
.bir_wrap {
  display:table;
  width:100%
}
#birdd, #birmm, #biryy {
  padding: 11px 14px
}
.bir_dd,.bir_mm,.bir_yy {
  display:table-cell;
  table-layout:fixed;
  width:147px;
  vertical-align:middle;
  *display:block;
  *float:left
}
.bir_mm+.bir_dd,.bir_yy+.bir_mm {
  padding-left:10px
}
.sel {
  width:100%;
  height:29px;
  padding:7px 8px 6px 7px\9;
  font-size:15px;
  line-height:18px;
  color:#000;
  border:none;
  border-radius:0;
  background-color: #fff;
  *height:auto;
  *margin-top:3px;
  -webkit-appearance: none;
  outline: 0;
}
html[lang=ko] #header .lang .sel {
  padding:3px 5px 3px 5px
}
.join_sex {
  overflow:hidden;
  margin-bottom: 30px;
}
.ps_box.focus {
  border:solid 1px #08a600
}
.ps_box input {
  outline: 0;
  background-color: #fff
}
.ps_box {
  padding:11px
}
.ps_box+.ps_box {
  margin-top:10px
}
.ps_box,.ps_box_disable {
  display:block;
  position:relative;
  width:100%;
  height:51px;
  border:solid 1px #dadada;
  padding:10px 14px 10px 14px;
  background:#fff;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.lbl {
  display:block;
  position:absolute;
  top:50%;
  left:14px;
  margin-top:-9px;
  font-size:15px;
  line-height:18px;
  color:#8e8e8e;
  z-index:9
}
.ps_box .lbl {
  left:0;
  padding:0 14px;
  width:100%;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.ps_box.int_pass,.ps_box.int_pass_check,.ps_box.int_pass_check2,.ps_box.box_right_space {
  padding-right:50px
}
.ps_box.int_pass:after,.ps_box.int_pass_check2:after,.ps_box.int_pass_check:after {
  content:'';
  display:inline-block;
  position:absolute;
  top:50%;
  right:10px;
  margin-top:-16px;
  cursor:pointer
}
.ps_box.int_pass:after {
  width: 30px; 
  height: 30px;
  background:#fff url(../images/write.png) no-repeat center center
}
.ps_box.int_pass_check:after {
  width: 30px; 
  height: 30px;
  background:#fff url(../images/ok.png) no-repeat center center
}
.ps_box.int_pass_check2:after {
  width: 30px; 
  height: 30px;
  background:#fff url(../images/error.png) no-repeat center center
}
.ps_box.accord {
  padding-right:50px;
  border:solid 1px #08a600
}
.ps_box.discord{
  padding-right:50px;
  border:solid 1px red
}
.green{
  color:#08A600
}
.error{
  display:block;
  margin:8px 0 -1px;
  font-size:12px;
  line-height:14px;
  color:red
}
.error_next_box{
  display:block;
  margin:9px 0 -2px;
  font-size:12px;
  line-height:14px;
  color:red;
  width: 400px;
  font-family: Dotum,'돋움',Helvetica,sans-serif
}
   
.btn_area {
  margin:30px 0 9px
}
.btn_type {
  display:block;
  width:100%;
  padding:21px 0 17px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  cursor:pointer;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  position:relative;
  margin-bottom: 100px;
}
.btn_type:active,.btn_type:focus,.btn_type:hover {
  text-decoration:none
}  
.btn_primary {
  color:#fff;
  background-color:#08a600
}
.btn_verify {
  display:block;
  font-size:15px;
  cursor:pointer
}
.wa_blind {
  position:absolute;
  overflow:hidden;
  clip:rect(0 0 0 0);
  margin:-1px;
  width:1px;
  height:1px;
  font-size:0
}
.int {
  display:block;
  position:relative;
  width:100%;
  height:29px;
  line-height:29px;
  border:1px solid white;
  background:#fff;
  font-size:15px;
  box-sizing:border-box
}
.step_txt {
  display:inline-block;
  position:absolute;
  top:1px;
  right:38px;
  font-size:12px
}
.emailBtn {
  display: inline-block;
  height: 51px;
  width: 100px
}
#genderBox {
  padding: 10px 14px
}
#addressBtn {
  display: inline-block;
  height: 51px;
  width: 100px
}
#authSend, #btnSend, #addressBtn {
  border: solid 1px #6c757d;
  background-color: #fff;
  color: #212529;
  margin: 0 0 0 15px;
  position: relative;
  border-radius: 0;
  outline: 0
}
#joinCode, #authNoBox, #postBox {
  display: inline-block;
  width: 280px
}
.join_authNo_confirm {
  margin: 10px 0 8px
}
#baseAddr, #detailAddr {
  margin-top: 10px
}
.join_photo_title {
  margin-bottom: 40px;
  padding-top: 19px
}
#photo_title {
  margin-top: 0
}
#images-div {
  max-width: 200px; 
  max-height: 200px
}
.file_input label {
  border: solid 1px #6c757d;
  border-radius: 0;
  outline: 0;
  background-color: #fff;
  font-weight: 400;
  color: #212529;
  position:relative;
  cursor:pointer;
  display:inline-block;
  vertical-align:middle;
  overflow:hidden;
  width:100px;
  height:51px;
  text-align:center;
  margin-top: 8px;
  line-height:51px
}
.file_input label input {
  position:absolute;
  width:0;
  height:0;
  overflow:hidden
}
.file_input input[type=text] {
  vertical-align:middle;
  display:inline-block;
  width:280px;
  height:51px;
  line-height:51px;
  font-size:15px;
  margin: 8px 15px 8px 0;
  padding: 10px 14px 10px 14px;
  border: solid 1px #dadada
}
#self_introduce {
  width: 400px;
  height: 256px;
  resize: none
}