#main-text {
	position: relative;
	text-align: center;
	width: 100%;
	height: 230px;
	border-bottom: 2px solid black;
}

#main-textfield{
    position: relative;
    top: -180px;        
    color: white;
}
   
form {
	margin: 0 auto;
}

#table {
	margin-bottom: 30px;
}

#area_select, #local_select {
	width: 200px;
}

.custom-select {
	width: 404px;
}

#add{
	margin-left: 10px;
}

.note-toolbar {
  z-index: 0;
}

.content-number{
	display: none;
}