#main-text {
	position: relative;
	text-align: center;
	width: 100%;
	height: 230px;
	border-bottom: 2px solid black;
}

.text-field {
	position: relative;
	top: 40px;
}


form {
	margin: 0 auto;
}

#table {
	margin-bottom: 30px;
}

#table-header {
	background: #efefef;
	text-align: center;
	vertical-align: middle;
}

#area_select, #local_select {
	width: 200px;
}

.custom-select {
	width: 404px;
}

#add{
	margin-left: 10px;
}

.note-toolbar {
  z-index: 0;
}