#main-text {
	position: relative;
	text-align: center;
	width: 100%;
	height: 230px;
	border-bottom: 2px solid black;
	margin-bottom: 15px;
}

#main-text h2 {
	position: absolute;
	text-align: left;
	bottom: 0;
}

#main-text h2 img {
	margin-bottom: 25px;
	margin-right: 5px;
}

#recruit-list-out {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	border-top: 2px solid black;
	height: 700px;
}

.search-form {
	display: inline-block;
}

#inputGroupSelect01 {
	position: absolute;
	width: 150px;
}

.table {
	width: 1000px;
	margin: auto;
}

table a {
	color: black;
}

table a:hover {
	color: black;
}

img {
	width: 30px;
	height: 30px;
}

#in {
	width: 100%;
	position: relative;
	top: -78px;
}

#write-btn {
	float: right;
}